{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block autrecss %}
	
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Délibération / Confirmation de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}
<div class="" align="center">
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-info">
			Session : <b>{{session}}</b>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-success">
			Niveau : <b>{{niveau}}</b>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-primary">
			Département : <b>{{departement}}</b>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-info">
			<p>Nombre total d'étudiants : <b>{{total_etd}}</b> </p>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-success">
			<p>Nombre total d'admis : <b>{{total_admis}}</b> </p>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-primary ">
			<p>Type Délibération : <b>{{type_delib}}</b> </p>
		</div>
	</div>
</div>
<div class="row">
	<div class="row">
	    <div class="col-lg-12">
	        <h2 class="page-header" align="center">Liste des admis</h2>
	    </div>
	    <!-- /.col-lg-8 -->
	<!--    <div class="col-lg-4">
	        <h3 class="page-header">Validation/ Annulation</h3>
	    </div> -->
	    <!-- /.col-lg-4 -->
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="panel panel-info">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-12">
		                    <p align="center"></p>
		                </div>
		            </div>
		        </div>
		        <div class="panel-body">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénom(s)</th>
								<th>Date de Naissance</th>
								<th>Lieu de Naissance</th>
								<th>Matricule</th>
								<th>Moyenne</th>
								<th>Côte</th>
							</tr>
						</thead>
						<tbody>
							{% for etd in liste_etudiant %}
								{% if etd in dict_admis %}
									<tr>
										<td>{{etd.nom}} </td>
										<td>{{etd.prenom}} </td>
										<td>{{etd.date_naissance}} </td>
										<td>{{etd.lieu_naissance}} </td>
										<td>{{etd.matricule}} </td>
										{% for key, val in dict_admis.items %}
											{% if key == etd %}
												<td> {{val}} </td>
												{% if val >= 10 and val < 12 %}
													<td>D</td>
												{% elif val >= 12 and val < 14 %}
													<td>C</td>
												{% elif val >= 14 and val < 16 %}
													<td>B</td>
												{% elif val >= 16 and val <= 20 %}
													<td>A</td>
												{% endif %}
											{% endif %}
										{% endfor %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<!-- Affichage des étudiants et matière -->
</div>
<!-- fin div row -->
<div class="row">
	<div class="row">
	    <div class="col-lg-12">
	        <h2 class="page-header" align="center">Liste des membres du jury</h2>
	    </div>
	    <!-- /.col-lg-8 -->
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="panel panel-info">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-12">
		                    <p align="center"></p>
		                </div>
		            </div>
		        </div>
		        <div class="panel-body">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>N°</th>
								<th>Nom</th>
								<th>Prénom(s)</th>
								<th>Matricule</th>
								<th>Grade</th>
								<th>Fonction</th>
							</tr>
						</thead>
						<tbody>
							{% for mbre in liste_membre_jury %}
								<tr>
									<td>{{forloop.counter}} </td>
									<td>{{mbre.enseignant.nom}} </td>
									<td>{{mbre.enseignant.prenom}} </td>
									<td>{{mbre.enseignant.matricule}}</td>
									<td>{{mbre.enseignant.grade}}</td>
									<td>{{mbre.fonction}}</td>
								</tr>						
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- réglages à effectuer pour effectuer la délibération -->
</div>
	
<br><br><br>

{% endblock  %}

{% block script %}
	
{% endblock %}