{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Note / Consultation de notes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center"> Matière(s) enseignée(s)</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                   <h4 align="center">Selectionner la matière</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<td></td>
							<th>Code de la matière</th>
							<th>Intitulé</th>
							<th>VH</th>
							<th>Crédits</th>
							<th>Département</th>
							<th>Niveau</th>
							<th>Statut</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for item in liste_matiere_enseigne %}
						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{item.matiere.code}}</td>
							<td>{{item.matiere.intitule}}</td>
							<td>{{item.matiere.volHoraire}}</td>
							<td>{{item.matiere.coef}}</td>
							<td>{{item.matiere.uniteEnseign.departement}}</td>
							<td>{{item.matiere.uniteEnseign.niveau}}</td>
							<td>
								{% if item.matiere.intitule in note_ens_saisie %}
									<span style="color: green"><i class="fa fa-check fa-fw"></i></span>
								{% else %}
									<span style="color: red"><i class="fa fa-remove fa-fw"></i></span>
								{% endif %}
							</td>
							<td>
								{% if item.matiere.intitule in note_ens_saisie %}
									<a type="button" class="btn btn-success form-control" href="{% url 'consulter_Note' item.matiere.id item.matiere.uniteEnseign.departement item.matiere.uniteEnseign.niveau %}" style="color: white"><b>Consulter note</b></a>
							
								{% endif %}
							
							</td>
						</tr>

					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	<!-- Fin liste des matières enseignées -->

	<!-- Etape de vérification dans les jurys -->

	{% for jury in liste_jury %}

<div class="row">
	<div class="col-lg-12">
	    <h3 class="page-header" align="center"><b>{{jury.fonction}}</b> de Jury <b>{{jury.jury.departement}}</b> Niveau : <b>{{jury.jury.niveau}}</b></h3>
	</div>
	<!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-green"> 
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                   <h4 align="center">Selectionner la matière</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<td></td>
							<th>Code de la matière</th>
							<th>Intitulé</th>
							<th>VH</th>
							<th>Crédits</th>
							<th>Département</th>
							<th>Niveau</th>
							<th>Statut</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for item in liste_matiere_all %}
						{% if item.uniteEnseign.niveau == jury.jury.niveau and item.uniteEnseign.departement == jury.jury.departement %}
					
						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{item.code}}</td>
							<td>{{item.intitule}}</td>
							<td>{{item.volHoraire}}</td>
							<td>{{item.coef}}</td>
							<td>{{item.uniteEnseign.departement}}</td>
							<td>{{item.uniteEnseign.niveau}}</td>
							<td>
								{% if item.intitule in note_jury_saisie %}
									<span style="color: green"><i class="fa fa-check fa-fw"></i></span>
								{% else %}
									<span style="color: red"><i class="fa fa-remove fa-fw"></i></span>
								{% endif %}
							</td>
							<td>
								{% if item.intitule in note_jury_saisie %}
									<a type="button" class="btn btn-success form-control" href="{% url 'consulter_Note' item.id item.uniteEnseign.departement item.uniteEnseign.niveau %}" style="color: white"><b>Consulter note</b></a>
								
								{% endif %}
								
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

	{% endfor %}


{% endblock %}