<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	<section>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.5em;"><b>NOTE DES ETUDIANTS EN {{matiere.intitule.upper}} </b></p>
	    		<p align="center" style="font-size: 1.5em;">Niveau : <b>{{matiere.uniteEnseign.niveau}} </b> Département : <b>{{matiere.uniteEnseign.departement.intitule}}</b> </p>
	   		</div>
	    </div>
	    <br>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-lg-12">
				<div class="panel panel-info">
			        <div class="panel-heading">
			            <div class="row">
			                <div class="col-xs-8">
			                </div>
			                <div class="col-xs-4 text-right">
			                    <div></div>
			                </div>
			            </div>
			        </div>
			        <div class="panel-body">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Numéro matricule</th>
									<th>Nom</th>
									<th>Prénom(s)</th>
									<th>Date de naissance</th>
									<th>Lieu de naissance</th>
									<th>Note/20</th>
								</tr>
							</thead>
							<tbody>
								{% for etd in liste_etudiant %}

								<tr>
									<td>{{forloop.counter}} </td>
									<td>{{etd.matricule}}</td>
									<td>{{etd.nom}}</td>
									<td>{{etd.prenom}}</td>
									<td>{{etd.date_naissance}} </td>
									<td>{{etd.lieu_naissance}} </td>
									<td>
										{% for note in liste_note %}
											{% if note.student.id == etd.id %}
												{{note.note}}
												
											{% endif %}
										{% endfor %}
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
	    </div>
	    <br>
	</section>
</body>
</html>