{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Note / Consultation de notes / <b>{{matiere.intitule}}</b></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center">Niveau : <b>{{matiere.uniteEnseign.niveau}}</b> | Département : <b>{{matiere.uniteEnseign.departement}}</b></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-8">
	                    Matière :: <b>{{matiere}}
	                </div>
	                <div class="col-xs-4 text-right">
	                    <div>
	                    	<a href="{% url 'imprimer_Note' matiere.id %}  " type="button" class="btn btn-warning"><i class="fa fa-print fa-fw"></i>Imprimer</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Numéro matricule</th>
							<th>Nom</th>
							<th>Prénom(s)</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Note/20</th>
						</tr>
					</thead>
					<tbody>
						{% for etd in liste_etudiant %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{etd.matricule}}</td>
							<td>{{etd.nom}}</td>
							<td>{{etd.prenom}}</td>
							<td>{{etd.date_naissance}} </td>
							<td>{{etd.lieu_naissance}} </td>
							<td>
								{% for note in liste_note %}
									{% if note.student.id == etd.id %}
										{{note.note}}
										
									{% endif %}
								{% endfor %}
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- fin div row -->
<div class="row">
	<div class="col-lg-12">
		<a href="{% url 'choix_consulter_note' %}" type="button" class="btn btn-primary"><i class="fa fa-arrow-left fa-fw"></i>Revenir</a>
	</div>
</div>
	
{% endblock  %}