{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block autrecss %}
	{{header.media.css}}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Délibération / Notes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}
<div class="row ">
	<div class="col-lg-offset-2 col-lg-8" align="center">
		<div class="row">
			<div class="col-lg-6 info-en-tete  bg-primary" >
				Niveau : {{niveau}}
			</div>
			<div class="col-lg-6 info-en-tete  bg-primary">
				Département : {{departement}}
			</div>
		</div>
	</div>
</div>

{% if button == False %}

<div class="row">
	<div class="col-lg-offset-3 col-lg-6 bg-danger messa">
		<p align="center">Il n'est pas possible d'effectuer une délibération car toutes les notes ne sont pas entrées !</p>
		<p align="center">Notes enregistrées : {{note_save}} / {{mat_total}} </p>
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-lg-offset-3 col-lg-6 bg-success mess">
		<p align="center">Notes enregistrées : {{note_save}} / {{mat_total}} </p>
	</div>
	
</div>
{% endif %}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                    <h4 align="center">Liste des étudiants et notes</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° Matricule</th>
							<th>Prenom(s)</th>
							<th>Nom</th>
							{% for mat in liste_matiere %}

							<th>{{mat.intitule}}</th>

							{% endfor %}
							{% if button == True %}
							<th>Action</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for etd in liste_etudiant %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{etd.matricule}} </td>
							<td>{{etd.prenom}} </td>
							<td>{{etd.nom}} </td>
							{% for mat in liste_matiere %}
								{% if mat in dict_mat_save %}
									{% for nte in liste_note %}
									 	{% if nte.course == mat and nte.student == etd %}
									 		<td>{{nte.note}} </td>
									 	{% endif %}
									{% endfor %}
								{% else %}
									<td></td>
								{% endif %}
							{% endfor %}
							{% if button == True %}
							<td><a href="{% url 'Modifier_Note_Etd' etd.id jury_id %} " type="btn" class="btn btn-danger">Modifier</a></td>
							{% endif %}
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Affichage des étudiants et matière -->
</div>
<!-- fin div row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                    <h4 align="center"> Formulaire de délibération</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-xs-12">
							<div class="row">
								<div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
									<h4 class="pull-right" style="color: red;">Veuillez choisir le type de délibération</h4>
								</div>
								<div class="col-sm-6 col-lg-6 col-xs-6 col-md-6">
									{{header.type_delib|as_crispy_field }}
								</div>
							</div>
						</div>
					</div>
					<br>
					<legend align="center"><b>En tête des fichiers </b></legend>
					<div class="row">
						<div class="col-lg-6">
							{{header.universite|as_crispy_field }}
						</div>
						<div class="col-lg-6">
							{{header.titre|as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							{{header.service|as_crispy_field }}
						</div>
						<div class="col-lg-6">
							{{header.adresse|as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							{{header.option|as_crispy_field }}
						</div>
						<div class="col-lg-4">
							{{header.date_delib|as_crispy_field }}
						</div>
						<div class="col-lg-4">
							{{header.session|as_crispy_field }}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							{{header.tel|as_crispy_field }}
						</div>
						<div class="col-lg-4">
							{{header.fax|as_crispy_field }}
						</div>
						<div class="col-lg-4">
							{{header.telex|as_crispy_field }}
						</div>
					</div>
					<br>
					<div class="row" >
						<legend align="center"><b>Impression des fichiers de délibération</b></legend>
						<div class="col-lg-3">
							<h4>{{header.imp_pv|as_crispy_field }}</h4>
						</div>
						<div class="col-lg-3">
							<h4>{{header.imp_adm|as_crispy_field }}</h4>
						</div>
						<div class="col-lg-3">
							<h4>{{header.imp_jur|as_crispy_field }}</h4>
						</div>
						<div class="col-lg-3">
							<h4>{{header.imp_pvd|as_crispy_field }}</h4>
						</div>
					</div>
					<legend></legend>
					<div class="row" align="center">
						{% if button %}
						<button type="submit" class="btn btn-success btn-lg ">Déliberer</button>
						{% else %}
						<p class="message" align="center">Toutes les notes ne sont pas entrées, impossible de délibérér ... </p>
						{% endif %} 
					<!--	<button type="submit" class="btn btn-success btn-lg ">Déliberer</button> -->
					</div>
				</form>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
	<!-- réglages à effectuer pour effectuer la délibération -->
</div>
	
{% endblock  %}

{% block script %}
	{{header.media.js}}
{% endblock %}