{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block autrecss %}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Jury de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}

<div align="center">
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-info">
			Intitulé : <b>{{jury.intitule}}</b>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-success">
			Niveau : <b>{{jury.niveau}}</b>
		</div>
		<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-primary">
			Département : <b>{{jury.departement}}</b>
		</div>
	</div>
</div>

<br><br>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-8">
	                    <h4>Liste des membres du jury
	                    </h4>
	                </div>
	                <div class="col-xs-4 text-right">
	                    <div>
	                    	<a href="{% url 'imprimer_membre_Jury' jury.id %} " type="button" class="btn btn-warning"><i class="fa fa-print fa-fw"></i>Imprimer</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° Matricule</th>
							<th>Prénom(s)</th>
							<th>Nom</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Sexe</th>
							<th>Département</th>
							<th>Fonction</th>
						</tr>
					</thead>
					<tbody>
						{% for item in liste_membre_jury %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{item.enseignant.matricule}}</td>
							<td>{{item.enseignant.prenom}}</td>
							<td>{{item.enseignant.nom}}</td>
							<td>{{item.enseignant.date_naissance}} </td>
							<td>{{item.enseignant.lieu_naissance}} </td>
							<td>{{item.enseignant.sexe}} </td>
							<td>{{item.enseignant.departement}} </td>
							<td>
								{{item.fonction}}
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- fin div row -->
	
{% endblock  %}