{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Enseignant / {{enseignant.prenom}} {{enseignant.nom}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}

<div class="container">
	<div class="">
		
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header" align="center">Informations Personnelles</h1>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		
		<div class="row">
			<div class="col-lg-2 col-lg-offset-2 col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1" align="center">
				<img src="{% if enseignant.profil %} {{enseignant.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="225px" height="275px">
			<!--	{{enseignant.profil}} -->
			</div>
			<div class="col-lg-6 col-lg-offset-2 col-sm-7 col-md-7 ">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"></p>
					        </div>
					        <div class="panel-body">
						        <div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt >Matricule </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.matricule}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 v">
										<dt>Nom </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.nom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Prénom(s)</dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.prenom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Email </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.compte.email}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Grade </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.grade}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Statut </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{enseignant.statut}}</dd>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" align="center">
						<a href="{% url 'Imprimer_infos_ens' enseignant.id %} " type="button" class="btn btn-warning" ><i class="fa fa-print fa-fw"></i>Imprimer infos perso</a>
						<a href="{% url 'Imprimer_detail_ens' enseignant.id %} " type="button" class="btn btn-warning" ><i class="fa fa-print fa-fw"></i>Imprimer détail</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<br>
		<div class="row">
		{% if liste_jury_app %}

			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center">Liste des Jurys d'appartenance</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>

			<br>
			<div class="col-lg-offset-1 col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					            <div class="row">
					                <div class="col-xs-12">
					                    <h4 align="center"></h4>
					                </div>
					            </div>
					        </div>
					        <div class="panel-body">
					        	<table align="center"class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Jury</th>
											<th>Niveau</th>
											<th>Département</th>
											<th>Année Académique</th>
											<th>Fonction</th>
										</tr>
									</thead>
									<tbody>
										{% for item in liste_jury_app %}
					
										<tr>
											<td>{{item.jury.intitule}} </td>
											<td>{{item.jury.niveau}} </td>
											<td>{{item.jury.departement}}</td>
											<td>{{item.jury.anneeUniv}}</td>
											<td>{{item.fonction}}</td>
										</tr>
										
										{% endfor %}
									</tbody>
					
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center">Aucun jury d'appartenance pour l'heure !</h2>
			    </div>
			    
			</div>
		{% endif %}
		</div>
		<br><br>

		
		{% if liste_matiere_enseigne %}
		<div class="row">
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center">Liste des matières enseignées</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>
	<!--		<h2 align="center">Liste des matières enseignées </h2> -->
			<br>
			<div class="col-lg-12 col-sm-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					            <div class="row">
					                <div class="col-xs-12">
					                    <h4 align="center"></h4>
					                </div>
					            </div>
					        </div>
					        <div class="panel-body">
					        	<table align="center"class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<td></td>
											<th>Code de la matière</th>
											<th>Intitulé</th>
											<th>VH</th>
											<th>Crédits</th>
											<th>Département</th>
											<th>Niveau</th>
										</tr>
									</thead>
									<tbody>
										{% for item in liste_matiere_enseigne %}
										<tr>
											<td>{{forloop.counter}} </td>
											<td>{{item.matiere.code}}</td>
											<td>{{item.matiere.intitule}}</td>
											<td>{{item.matiere.volHoraire}}</td>
											<td>{{item.matiere.coef}}</td>
											<td>{{item.matiere.uniteEnseign.departement}}</td>
											<td>{{item.matiere.uniteEnseign.niveau}}</td>
										</tr>

										{% endfor %}
									</tbody>
					
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center">Aucune matière dispensée à son actif !</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>

		{% endif %}
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}