{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Agent / {{scolarite.prenom}} {{scolarite.nom}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}

<div class="container">
	<div class="">
		
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header" align="center">Informations Personnelles</h1>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		
		<div class="row">
			<div class="col-lg-2 col-lg-offset-2 col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1" align="center">
				<img src="{% if scolarite.profil %} {{scolarite.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="225px" height="275px">
			<!--	{{scolarite.profil}} -->
			</div>
			<div class="col-lg-6 col-lg-offset-2 col-sm-7 col-md-7 ">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"></p>
					        </div>
					        <div class="panel-body">
						        <div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt >Matricule </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.matricule}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 v">
										<dt>Nom </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.nom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Prénom(s)</dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.prenom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Email </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.compte.email}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Titre </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.titre}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Ufr </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{scolarite.ufr}}</dd>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" align="center">
						<a href="{% url 'Imprimer_infos_sco' scolarite.id %} " type="button" class="btn btn-warning" ><i class="fa fa-print fa-fw"></i>Imprimer infos</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<br>
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}