{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Étudiant / Cursus universitaire</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center"><b> {{etudiant.nom}} {{etudiant.prenom}} </b> - Matricule : <b>{{etudiant.matricule}} </b></h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-info">
		Année Académique : <b>{{annee}}</b>
	</div>
	<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-success">
		Niveau : <b>{{niveau}}</b>
	</div>
	<div class="col-lg-4 col-sm-4 col-md-4  info-en-tete bg-primary">
		Département : <b>{{departement}}</b>
	</div>
</div>

<!--
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">Année Académique : <b>{{annee}}</b>   Département : <b>{{departement}}</b>    Niveau : <b>{{niveau}}</b></h3>
    </div>
</div> -->

<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h4></h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        {% if termine %}
                        <div>
                            <a type="button" class="btn btn-danger" href="{% url 'Imprimer_detail_cursus' idC %} " ><i class="fa fa-print fa-fw"></i> Imprimer</a>
                        </div>
                        {% endif %}
                <!--        <a type="button" class="btn btn-danger" href="{% url 'Imprimer_detail_cursus' idC %} " ><i class="fa fa-print fa-fw"></i> Imprimer</a> -->
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
						<tr>
							<th>Matière</th>
							<th>Coefficient</th>
							<th>Moyenne</th>
							<th>Pondérées</th>
							<th>Côte</th>
						</tr>
					</thead>
					<tbody>

						{% for item in liste_matiere %}
						<tr>
							<th>{{item.intitule}} </th>
							<td>{{item.coef}}</td>
							{% if liste_note %}
							<!-- Pour l'affichage des notes -->
							{% for note in liste_note %}
								{% if note.course == item %}
									<td>{{note.note}} </td>
								{% endif %}

							{% endfor %}

							<!-- pour l'affichage des pondérées -->
							{% for note in liste_note %}
								{% if note.course == item %}
									<td>{{ note.pondere }} </td>
								{% endif %}

							{% endfor %}
							<!-- pour laffichage des côtes -->
							{% for note in liste_note %}
								{% if note.course == item %}
									{% if note.note >= 16 %}
									<td>A</td>
									{% elif note.note >= 14 and note.note < 16 %}
									<td>B</td>
									{% elif note.note >= 12 and note.note < 14 %}
									<td>C</td>
									{% elif note.note >= 10 and note.note < 12 %}
									<td>D</td>
									{% else %}
									<td>E</td>
									{% endif %}
								
								{% endif %}
							{% endfor %}
							{% else %}
							<td></td>
							<td></td>
							<td></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" align="center">
			<a href="{% url 'page_etudiant' etudiant.id %}" type="button" class="btn btn-primary"><i class="fa fa-arrow-left fa-fw"></i>Révenir au cursus </a>
		</div>
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}