{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<meta charset="utf-8">

	</style>
	</head>
	<body>
		<header>
    		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<!-- <a href="http://localhost:8000/login"> <img src="../static/img/logo1.png" alt="logo_uo" title="Logo de UO1 Pr JKZ" id="logo" class="navbar-brand" /> </a> -->
        		<div class="collapse navbar-collapse">
            		<h1>SIDINFOR : Système Intégré du Département d'Informatique</h1>
        		</div>
    		</nav>
		</header>
		<h3>SIDINFOR :: Informations</h3>
		{% if type_mail == 'Affectation' %}
			<div>
				<p>Bonjour, </p>
				<p>
					Vous êtes chargé de dispensé les cours dans une nouvelle matière qui vous à été affectée.
        			Pour plus de details, veuillez <a href="#" class="btn btn-info btn-sm">Cliquer ici</a>. Cordialement.
				</p>
			</div>
		{% elif type_mail == 'Retrait' %}

			<div>
				<p>Bonjour, </p>
				<p>
				Vous n'êtes plus chargé de dispenser les cours dans une matière.
				Pour plus de details, veuillez <a href="#" class="btn btn-info btn-sm">Cliquer ici</a>.
        		Cordialement.
			</p></div>
		{% elif type_mail == 'Jury' %}

			<div>
				<p>Bonjour, </p>
				<p>
				Vous avez été ajouté aux membres contitutifs d'un jury de délibération.
				Pour plus de details, veuillez <a href="#" class="btn btn-info btn-sm">Cliquer ici</a>.
        		Cordialement.
			</p></div>
		{% endif %}
	</body>
</html>




