{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block autrecss %}
	{{form.media.css}}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Délibération / Impression de relevés de notes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}
<div class="row ">
	<div class="col-lg-offset-2 col-lg-8" align="center">
		<div class="row">
			<div class="col-lg-6 info-en-tete  bg-success" >
				Nombre de relevés disponible : {{dispo}}
			</div>
			<div class="col-lg-6 info-en-tete  bg-primary">
				Nombre de relevés archivé : {{supp}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h4 align="center" style="color: red;">{{message}} </h4>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                    <h4 align="center">Liste des relevés de notes disponible</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Numéro</th>
							<th>Session</th>
							<th>Niveau</th>
							<th>Département</th>
							<th>Année universitaire</th>
							<th>Nombre à imprimer</th>
							<th>Date d'impression</th>
							<th>Signataire</th>
							<th>Action</th>
							
						</tr>
					</thead>
					<tbody>
						{% for item in liste_releve %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{item.deliberation.session}} </td>
							<td>{{item.deliberation.niveau}} </td>
							<td>{{item.deliberation.departement}} </td>
							<td>{{item.deliberation.anneeaca}} </td>
							<td>{{item.nbre_releve}} </td>
							<form action="" method="POST">
								{% csrf_token %}
							<td>{{ form.date_imp|as_crispy_field }}</td>
							<td>{{ form.signataire|as_crispy_field }} </td>
							
							<input type="hidden" name="id_releve" value="{{item.id}}">
							<td>
								<button type="submit" class="btn btn-warning"><i class="fa fa-print fa-fw"></i>Imprimer</button> <a href="{% url 'supp_releve' item.id %}" type="button" class="btn btn-danger">Archiver</a>
							</td>
							</form>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Affichage des étudiants et matière -->
</div>
<!-- fin div row -->
	
{% endblock  %}

{% block script %}
	{{form.media.js}}
{% endblock %}