<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	<section>
		<!-- info row -->
	    <div class="row invoice-info">
	      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
	        <address align="center">
			UNIVERSITE JOSEPH KI ZERBO<br>
			---------------<br>
			UNITE DE FORMATION ET DE RECHERCHE EN <br>
			{{jury.departement.ufr.intitule.upper}} (UFR-{{jury.departement.ufr.code}})<br>
			---------------<br>
			SERVICE DE LA SCOLARITE<br>
			---------------<br>
			03 BP. 7021 OUAGADOUGOU 03<br>
			Tél. :(+226) 25 30 70 64 / 65<br>
			Fax : (+226) 25 30 72 42 <br>
			</address> 
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
	      	<br><br><br>
	        <img src="http://localhost:8000/static/img/logo.jpg" alt="Logo de l'université" width="100%"><!--width="100%" height="100%" -->
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	        <address align="center">
	        BURKINA FASO <br>
			--------------- <br>
			Unité - Progrès - Justice
			</address>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->
	    <br>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.5em;"><b>DESCRIPTION DU JURY</b></p>
	   		</div>
	    </div>
	    <br><br><br>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-success">
			        <div class="panel-heading">
			            <div class="row">
			                
			            </div>
			        </div>
			        <div class="panel-body">
						<div class="row">
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Intitulé
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: <b>{{jury.intitule}} </b>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Nombre de membres
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: <b>{{jury.nbre_membre}} </b>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Niveau
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: <b>{{jury.niveau}} </b>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Département
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: <b>{{jury.departement}} </b>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	    <br>
	    <br><br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.5em;"><b>LISTE DES MEMBRES DU JURY</b></p>
	   		</div>
	    </div>
	    <br><br><br>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-info">
			        <div class="panel-heading">
			            <div class="row">
			                <div class="col-xs-8">
			                    
			                </div>
			                <div class="col-xs-4 text-right">

			                </div>
			            </div>
			        </div>
			        <div class="panel-body">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th></th>
									<th>N° Matricule</th>
									<th>Prénom(s)</th>
									<th>Nom</th>
									<th>Date de naissance</th>
									<th>Lieu de naissance</th>
									<th>Sexe</th>
									<th>Département</th>
									<th>Fonction</th>
								</tr>
							</thead>
							<tbody>
								{% for item in liste_membre_jury %}

								<tr>
									<td>{{forloop.counter}} </td>
									<td>{{item.enseignant.matricule}}</td>
									<td>{{item.enseignant.prenom}}</td>
									<td>{{item.enseignant.nom}}</td>
									<td>{{item.enseignant.date_naissance}} </td>
									<td>{{item.enseignant.lieu_naissance}} </td>
									<td>{{item.enseignant.sexe}} </td>
									<td>{{item.enseignant.departement}} </td>
									<td>
										{{item.fonction}}
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	    <br>
	</section>
</body>
</html>