{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Jury de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center"><b>{{jury.intitule}}</b> Niveau :<b>{{jury.niveau}} </b> Département : <b>{{jury.departement}} </b></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-8">
	                </div>
	                <div class="col-xs-4 text-right">
	                    <a href="{% url 'imprimer_membre_Jury' jury.id %} " type="button" class="btn btn-warning">Imprimer la fiche</a>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° Matricule</th>
							<th>Prénom(s)</th>
							<th>Nom</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Sexe</th>
							<th>Département</th>
							<th>Fonction</th>
						</tr>
					</thead>
					<tbody>
						{% for item in liste_membre_jury %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{item.enseignant.matricule}}</td>
							<td>{{item.enseignant.prenom}}</td>
							<td>{{item.enseignant.nom}}</td>
							<td>{{item.enseignant.date_naissance}} </td>
							<td>{{item.enseignant.lieu_naissance}} </td>
							<td>{{item.enseignant.sexe}} </td>
							<td>{{item.enseignant.departement}} </td>
							<td>
								{{item.fonction}}
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- fin div row -->
<div class="row">
	<div class="col-lg-12" align="center">
		{% if user.titre == 'Chef de département' or user.titre == 'Directeur' %}
		<a href="{% url 'liste_Jury' %}" type="button" class="btn btn-default">Revenir</a> 

		<a href="{% url 'modif_Jury' jury.id %} " type="button" class="btn btn-primary">Modifier</a> {% if jury.is_actif == False %}
			<a href="{% url 'get_Jury' jury.id %}" type="button" class="btn btn-warning">Récupérer</a>
		{% elif jury.is_actif == True %}

			<a href="{% url 'del_Jury' jury.id %}" type="button" class="btn btn-danger">Supprimer</a>

		{% endif %}
		{% else %}
		<a href="{% url 'liste_Jury_par_ens' %}" type="button" class="btn btn-primary">Revenir</a> 

		{%endif%}
	</div>
</div>
{% endblock  %}