{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Liste de jury{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Liste des jurys de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}

<div class="row">
	<div class=" col-lg-offset-2 col-lg-8" align="center">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12" align="center">
	                    Selectionner le jury
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th></th>
								<th>Intitulé</th>
								<th>Niveau</th>
								<th>Département</th>
								<th>Nombre de membres</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for jury in liste_jury_ens %}

								<tr>
									<td>{{forloop.counter}} </td>
									<td>{{jury.intitule}} </td>
									<td>{{jury.niveau}} </td>
									<td>{{jury.departement}} </td>
									<td>{{jury.nbre_membre}} </td>
									<td>
										<a href="{% url 'consulter_Membre_Jury' jury.id %} " type="button" class="btn btn-primary">Voir membres</a>
										{% if jury.is_actif == False %}
											<a href="{% url 'get_Jury' jury.id %} " type="button" class="btn btn-warning">Récupérer</a>
										{% elif jury.is_actif == True %}

										<a href="{% url 'del_Jury' jury.id %} " type="button" class="btn btn-danger">Supprimer</a>

										{% endif %}
									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</b>
	</div>
</div>

{% endblock %}