{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block autrecss %}
	{{header.media.css}}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Délibération / Moddifier notes étudiant</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}
<div class="row ">
	<div class="col-lg-offset-2 col-lg-8" align="center">
		<div class="row">
			<div class="col-lg-6 info-en-tete  bg-primary" >
				Niveau : {{etd.niveau}}
			</div>
			<div class="col-lg-6 info-en-tete  bg-primary">
				Département : {{etd.departement}}
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">{{etd.nom}} {{etd.prenom}} Matricule : {{etd.matricule}} </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% if succes == "succes" %}
<div class="row">
	<p align="center" style="color: green;">{{message}}</p>
</div>
{% else %}
<div class="row">
	<p align="center" style="color: red;">{{message}}</p>
</div>
{% endif %}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                    <h4 align="center">Effectuer vos modifications</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>N°</th>
							<th>Code</th>
							<th>Intitulé</th>
							<th>Coef</th>
							<th>Ancienne note</th>
							<th>Nouvelle note</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for mat in liste_matiere %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{mat.code}} </td>
							<td>{{mat.intitule}} </td>
							<td>{{mat.coef}} </td>
							{% for note in liste_note %}
								{% if note.course == mat %}
							 		<td>{{note.note}} </td>
							 	{% endif %}
							{% endfor %}
							<form action="" method="POST">
								{% csrf_token %}

								<input type="hidden" name="id_matiere" value="{{mat.id}} ">
								<td>
									<input class="form-control" type="number" step="0.01" min="0" max="20" name="nvl_note" required="required">
								</td>
								<td>
									<button class=" btn btn-success" type="submit">
										<i class="fa fa-save fa-fw"></i><b>Effectuer</b>
									</button>
								</td>
							</form>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Affichage des étudiants et matière -->
</div>
<!-- fin div row -->
<br>
<br>
<div class="row" align="center">
	<a class=" btn btn-primary" type="button" href="{% url 'deliberer' idj %}">
		<i class="fa fa-arrow-left fa-fw"></i><b>Revenir à la délibération</b>
	</a>
</div>

<br>
<br>

{% endblock  %}
