{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock  %}



{% block title %}Inscription Etudiant{% endblock %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paramètre / Modifier jury de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- <h1 align="center">Création de jury de délibération</h1>-->
{% endblock %}

{% block sectionContent %}

<div class="container">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
		<div class="Cjury">
			<div class="row">
				<p class="message" align="center">
					{{message}}
				</p>
			</div>
			<div class="row">
				<form action="" method="POST">
					{% csrf_token %}
					<fieldset>
						<legend style="text-align: center"><b>Jury</b></legend>
					
						<div class="col-lg-12 col-sm-12 col-md-12  col-xs-12">
							<div class="row" id="partie_Jury">
								<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									<!-- intitule du jury -->
									<p>{{ creation_jury.intitule|as_crispy_field }}</p>
								</div>
								<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									<!-- niveau du jury -->
									<p>{{ creation_jury.niveau|as_crispy_field }}</p>
								</div>
								<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
									<!-- departement du jury -->
									<p>{{ creation_jury.departement|as_crispy_field }}</p>
								</div>
								<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
									<!-- Année de travail du jury -->
									<p>{{ creation_jury.nbre_membre|as_crispy_field }}</p>
								</div>
								<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
									<!-- nombre de membres du jury -->
									<p>{{ creation_jury.anneeUniv|as_crispy_field }}</p>
								</div>
							</div>
							<div class="row" id="nbMembre">
								<p align="center" style="color: red" class=" pseudo"> Le nombre de membres doit être compris entre 5 et 7</p>
							</div>
					<!--		<div class="row pull-right">
								<button type="button" class="btn btn-primary">Effectuer</button>
							</div> -->
						</div>
					</fieldset>
					<br>
					<div class="Lmembres">
						
					<fieldset>
						<legend style="text-align: center;"><b>Membres du Jury</b></legend>
					
						<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" id="ajouterMembre">
							<div class="row"><!-- col-lg-4 col-sm-4 col-md-4 col-xs-4 -->
								<fieldset>
									<legend ><b>1er Membre</b></legend>
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- premier membre du jury -->
											<p>{{ formation_membre.ens1|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du premier -->
											<p>{{ formation_membre.fonction1|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>2ème Membre</b></legend>
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- deuxiemme membre du jury -->
											<p>{{ formation_membre.ens2|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du deuxiemme -->
											<p>{{ formation_membre.fonction2|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>3ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- troisieme membre du jury -->
											<p>{{ formation_membre.ens3|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du troisieme -->
											<p>{{ formation_membre.fonction3|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>4ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- troisieme membre du jury -->
											<p>{{ formation_membre.ens4|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du troisieme -->
											<p>{{ formation_membre.fonction4|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>5ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- troisieme membre du jury -->
											<p>{{ formation_membre.ens5|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du troisieme -->
											<p>{{ formation_membre.fonction5|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>6 ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- troisieme membre du jury -->
											<p>{{ formation_membre.ens6|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du troisieme -->
											<p>{{ formation_membre.fonction6|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="row">
								<fieldset>
									<legend ><b>7ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
								
									<div class="row">
										<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
											<!-- troisieme membre du jury -->
											<p>{{ formation_membre.ens7|as_crispy_field }}</p>
										</div>
										<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
											<!-- fonction du troisieme -->
											<p>{{ formation_membre.fonction7|as_crispy_field }}</p>
										</div>
									</div>
								</fieldset>
							</div>

						</div>
					</fieldset>
					</div>
					<div class="row">
						<div class="col-lg-12" align="center">
		        			<button class=" btn btn-primary" type="submit">Modifier</button>
		        		</div>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/creationJury.js' %}"></script>
{% endblock %}