{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Saisie de notes / <b>{{departement}}</b> / <b>{{niveau}}</b></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}


	<div class="container">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header">Matière :: <b>{{matiere}}</b></h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>
		<!-- <h2 align="center">Matière :: {{matiere}}</h2> -->
			<div class="row">
				<p align="center" style="color: red" id="message" class="bg-info">{{ message}} </p>
			</div>
			<br><br><br><br><br>
			<div class="row">
				<div class="col-lg-12" align="center">
					<a href="{% url 'consulter_Note' matiere.id matiere.uniteEnseign.departement matiere.uniteEnseign.niveau %}" class="btn btn-primary">
						Consulter la note
					</a>
				</div>
			</div>
			<!-- fin div row -->
		</div>
	</div>
	
{% endblock  %}