{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Page Agent / Profil-{{user.compte.username}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center">Détails du profil </h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container">
	<div class="">
		
		<h1 align="center"> </h1>
		<br><br>
		
		<div class="row">
			<div class="col-lg-6" align="center">
				<img src="{% if enseignant.profil %} {{enseignant.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="225px" height="275px">
			<!--	{{enseignant.profil}} -->
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"> Profil </p>
					        </div>
					        <div class="panel-body">
					        	
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt >Matricule </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.matricule}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 v">
										<dt>Nom </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.nom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Prénom(s)</dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.prenom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Email </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.compte.email}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Titre </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.titre}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>UFR </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.ufr}}</dd>
									</div>
								</div>
								<br><br>
								<div class="row">
									<div  align="center">
										<a type="button" class="btn btn-primary" href="#">Modifier mon profil</a>
									</div>
								</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}