{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %} Détail sur etudiant{% endblock %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Statut d'étudiant / Détails </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}

<div class="container">
	<div class="">

		<div class="row">
		    <div class="col-lg-12">
		        <h2 class="page-header" align="center">Informations personnelle de l'étudiant </h2>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>

		<div class="row">
			<div class="col-lg-2 col-lg-offset-2 col-sm-3 col-md-3 col-md-offset-1 col-sm-offset-1 " align="center">
				<div class="row">
					<img src=" {% if etudiant.profil %} {{etudiant.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="225px" height="300px">
				</div>
			<!--	{{etudiant.profil}} -->
			</div>
			<div class="col-lg-6 col-lg-offset-2 col-sm-7 col-md-7 detail_etd">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"></p>
					        </div>
					        <div class="panel-body">
								<dl>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt >Matricule </dt>
										</div>
										<div class="col-lg-6  col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.matricule}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6  col-md-6 col-sm-6 col-xs-6">
											<dt>Nom </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.nom}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Prénom(s) </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.prenom}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Email </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.email}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Niveau </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.niveau}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Département </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.departement}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Statut </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.statut}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Année Académique </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{etudiant.anneeAca}}</dd>
										</div>
									</div>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" align="center">
						<a href="{% url 'Imprimer_infos_etd' etudiant.id %} " type="button" class="btn btn-warning"><i class="fa fa-print fa-fw"></i>Imprimer Infos perso</a>
						<a href="{% url 'Imprimer_liste_cursus_etd' etudiant.id %} " type="button" class="btn btn-warning"><i class="fa fa-print fa-fw"></i>Imprimer Infos + Cursus</a>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
		    <div class="col-lg-12">
		        <h2 class="page-header" align="center">Cursus Universitaire</h2>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>

		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-info">
				        <div class="panel-heading">
				        	<p align="center"></p>
				        </div>
				        <div class="panel-body">
				        	<table align="center"class="table table-striped table-bordered table-hover">
								<tr>
									<th>N°</th>
									<th>Année Académique</th>
									<th>Niveau</th>
									<th>Département</th>
									<th>Statut</th>
									<th>Moyenne</th>
									<th></th>
								</tr>
								{% for item in liste_cursus %}
								<tr>
									<td>{{forloop.counter}} </td>
									<td>{{item.anneeAca}} </td>
									<td>{{item.niveau}} </td>
									<td>{{item.departement}} </td>
									<td>{{item.statut}} </td>
									<td>{{item.moyenne}} </td>
									<td>
										<a href="{% url 'detail_cursus' item.departement item.niveau item.anneeAca etudiant.id %} " type="button" class="btn btn-primary form-control">Détails des notes</a>
									</td>
								</tr>
								{% endfor %}
							</table>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}