{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Page enseignant / Profil-{{user.compte.username}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}


<div class="container">
	<div class="">
		
		<h1 align="center"> </h1>
		<br><br>
		
		<div class="row">
			<div class="col-lg-6" align="center">
				<img src="{% if enseignant.profil %} {{enseignant.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="225px" height="275px">
			<!--	{{enseignant.profil}} -->
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"> Profil </p>
					        </div>
					        <div class="panel-body">
					        	
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt >Matricule </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.matricule}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 v">
										<dt>Nom </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.nom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Prénom(s)</dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.prenom}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Email </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.compte.email}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Grade </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.grade}}</dd>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dt>Statut </dt>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<dd>: {{user.statut}}</dd>
									</div>
								</div>
								<br><br>
								<div class="row">
									<div  align="center">
										<a type="button" class="btn btn-primary" href="{% url 'modifierProfil' %} ">Modifier mon profil</a>
									</div>
								</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<br>
		
		<br>
		<div class="row">
			{% if liste_jury %}

			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center">Liste des Jurys d'appartenance</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>

			<br>
			<div class="col-lg-offset-1 col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					            <div class="row">
					                <div class="col-xs-12">
					                    <h4 align="center"></h4>
					                </div>
					            </div>
					        </div>
					        <div class="panel-body">
					        	<table align="center"class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Jury</th>
											<th>Niveau</th>
											<th>Département</th>
											<th>Année Académique</th>
											<th>Fonction</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for item in liste_jury %}
											<tr>
												<td>{{item.jury.intitule}} </td>
												<td>{{item.jury.niveau}} </td>
												<td>{{item.jury.departement}}</td>
												<td>{{item.jury.anneeUniv}}</td>
												<td>{{item.fonction}}</td>
												<td>
													<a href="{% url 'consulter_Jury' item.jury.id %} " class="">Membres du jury</a>
												</td>
											</tr>
											
											{% endfor %}
									</tbody>
									
								</table>
					        </div>
					    </div>
					</div>
				</div>
				
			</div>
			{% else %}
			<div class="row">
			    <div class="col-lg-12" align="center">
			        <h2 class="page-header">Aucun jury d'appartenance pour l'heure !</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>
		<!--		<h2 align="center"> Aucun jury d'appartenance pour l'heure !</h2> -->
			{% endif %}
		</div>
		<br><br>

		
		{% if liste_matiere_enseigne %}
		<div class="row">
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center" >Liste des matières enseignées</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>
	<!--		<h2 align="center">Liste des matières enseignées </h2> -->
			<br>
			<div class="col-lg-12 col-sm-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					            <div class="row">
					                <div class="col-xs-12">
					                    <h4 align="center"></h4>
					                </div>
					            </div>
					        </div>
					        <div class="panel-body">
					        	<table align="center"class="table table-striped table-bordered table-hover">
									<thead>
				
										<tr>
											<td></td>
											<th>Code de la matière</th>
											<th>Intitulé</th>
											<th>VH</th>
											<th>Crédits</th>
											<th>Département</th>
											<th>Niveau</th>
										</tr>
									</thead>
									<tbody>
										{% for item in liste_matiere_enseigne %}
											<tr>
												<td>{{forloop.counter}} </td>
												<td>{{item.matiere.code}}</td>
												<td>{{item.matiere.intitule}}</td>
												<td>{{item.matiere.volHoraire}}</td>
												<td>{{item.matiere.coef}}</td>
												<td>{{item.matiere.uniteEnseign.departement}}</td>
												<td>{{item.matiere.uniteEnseign.niveau}}</td>
											</tr>

										{% endfor %}
									</tbody>
					
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
			<div class="row">
			    <div class="col-lg-12">
			        <h2 class="page-header" align="center" >Aucune matière dispensée pour l'heure !</h2>
			    </div>
			    <!-- /.col-lg-12 -->
			</div>
		<!--		<h2 align="center"> Aucune matière dispensée pour l'heure !</h2> -->
		{% endif %}
	</div>
</div>

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}