<!DOCTYPE html>
<html>
<head>
	<title>Relevé de note</title>

	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	{% for key, val in dict_etd.items %}
	
	<div class="wrapper">
	  <!-- Main content -->
	  <section class="invoice">
	   <br>
	    <!-- info row -->
	    <div class="row invoice-info">
	      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
	        <address align="center">
	        MINISTERE DE L'ENSEIGNEMENT SUPERIEUR DE LA<br>
			RECHERCHE SCIENTIFIQUE ET DE L'INNOVATION<br>
			---------------<br>
			SECRETARIAT GENERAL<br>
			---------------<br>
			UNIVERSITE JOSEPH KI ZERBO<br>
			---------------<br>
			UNITE DE FORMATION ET DE RECHERCHE EN <br>
			SCIENCES EXACTES ET APPLIQUEES (UFR-SEA)<br>
			---------------<br>
			SERVICE DE LA SCOLARITE<br>
			---------------<br>
			03 BP. 7021 OUAGADOUGOU 03<br>
			Tél. :(+226) 25 30 70 64 / 65<br>
			Fax : (+226) 25 30 72 42 <br>
			</address> 
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
	      	<br><br><br>
	        <img src="http://localhost:8000/static/img/logo.jpg" alt="Logo de l'université" width="100%"><!--width="100%" height="100%" -->
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	        <address align="center">
	        BURKINA FASO <br>
			--------------- <br>
			Unité - Progrès - Justice
			<br><br><br><br><br><br><br>
			Année universitaire : {{releve.deliberation.anneeaca.an}}
			</address>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->
	    <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<address align="center">
					<b>RELEVE DE NOTES</b>  <br>
					<b>------</b>
				</address>
			</div>
		</div>
		
		<div class="row">
			<p align="center"><b>{{sous_titre1}}</b> </p>
		</div>
		<div class="row">
			<p align="center" style="font-size: 0.7em;">CONTROLE DES CONNAISSANCES ET EXAMENS </p>
		</div>
			
		<div class="row">
			<p align="center"><b>{{sous_titre2}}</b>  </p>
		</div>

		<div class="row">
			<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
			<div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						{{session}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						: {{releve.deliberation.anneeaca.fin}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						NOM ET PRENOM(S)
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						: {{key.nom}} {{key.prenom}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						DATE ET LIEU DE NAISSANCE
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						: {{key.date_naissance}} à {{key.lieu_naissance}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						MATRICULE
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						: {{key.matricule}}
					</div>
				</div>
			</div>
		</div><br>


	    <!-- Table row -->
	    <div class="row">
	      <div class="col-xs-12 table-responsive">
	        <table class="table table-striped" border="2px">
	          <thead>
		          <tr>
		            <th>Codes UE</th>
		            <th>Intitulés</th>
		            <th>Nb. crédits</th>
		            <th>Note / 20</th>
		            <th>Côtes UE<sup>1</sup></th>
		          </tr>
	          </thead>
	          <tbody>
	          	{% for item in liste %}
	          		{% if item.student == key %}
			          <tr>
			            <td>{{item.ue.code}} </td>
			            <td>{{item.ue.intitule}}</td>
			            <td>0{{item.ue.coef}}</td>
			            <td>{{item.moy}} </td>
			            <td>{{item.cote}}</td>
			          </tr>
	          		{% endif %}
	          {% endfor %}
	          
	          </tbody>
	        </table>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->

	    <div class="row"> <!-- Pour les informations sur le resultat -->
	     	<div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
	     	<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
		     	<div class="row">
		     		<div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
		     			MOYENNE GENERALE
		     		</div>
		     		<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
		     			{% for etd, moy in dict_moy.items %}

		     			{% if etd == key %}
		     				: {{moy}} / 20
		     			{% endif %}

		     			{%endfor%}
		     		</div>
		     	</div>
		     	<div class="row">
		     		<div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
		     			RESULTAT DU SEMESTRE
		     		</div>
		     		<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
		     			{% for etd, moy in dict_moy.items %}

		     			{% if etd == key %}

		     				{% if moy >= 10 %}
		     				: Admis
		     				{% else %}
		     				: Ajourné
		     				{% endif %}
		     			{% endif %}

		     			{%endfor%}
		     		</div>
		     	</div>
		     	<div class="row">
		     		<div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
		     			TOTAL DES CREDITS VALIDES
		     		</div>
		     		<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
		     			: {{credits}}
		     		</div>
		     	</div>
		    </div>
		</div>
		    <!-- /.row -->
	    <div class="row">
	    	<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7"></div>
	    	<div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
		    	<div class="row">
		    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    	 		Ouagadougou, le {{date_impression}}
		    	 	</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    	 		Le Directeur adjoint
		    	 	</div>
		    	</div>
		    	<br>
		    	<br>
		    	<br>
		    	<br>
		    	<div class="row">
		    		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    	 		<p style="text-decoration: underline;">{{signataire.prenom}} {{signataire.nom}}</p>
		    	 		<p style="font-size: 0.7em; padding-left: 20px;">     {{signataire.grade}}</p>
		    	 	</div>
		    	</div>
	    	</div>
	    </div>
	    <!-- Fin partie signature et caché du directeur -->

	    <div class="row">
	    	<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1"></div>
	    	<div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 pull-left" id="NB_releve" style="border-style: solid; border-color: black; padding: 5px; padding-right: 0px;">
	    		<div class="row">
	    			<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
		    			<b style="text-decoration: underline;"> NB :</b>
		    		</div>
		    		<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 pull-left">
		    			Ce relevé n'est délivré qu'en un seul exemplaire. Faire des photocopies <br>
		    			légalisées conformes auprès des autorités compétentes.
		    		</div>
		    	</div>
	    	</div>
	    </div>
	    <!-- Fin div nota béné -->

	    <div class="row">
	    	<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1"></div>
	    	<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 pull-left">
	    		<div class="row">
	    			<div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
		    			<b><sup>1</sup> Côtes :</b>
		    		</div>
		    		<div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 pull-left">
		    			A (mention très bien); B (metion bien); C (mention assez-bien); D (mention passable); E(Echec). <br>
		    			L'équivalent des côtes est mis entre parenthèses.
		    		</div>
	    		</div>
	    	</div>
	    </div>
	  </section>
	  <!-- /.content -->
	</div>
	<p style="page-break-after: always;">&nbsp</p>
	<!-- ./wrapper -->
	{% endfor %}
</body>
</html>