{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Note / Saisie de notes / <b>{{departement}}</b> / <b>{{niveau}}</b></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}


<div class="row" align="center">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="row">
		    <div class="col-lg-12">
		        <h2 class="page-header">Matière :: <b>{{matiere}}</b></h2>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
	</div>
</div>
		<!-- <h2 align="center">Matière :: {{matiere}}</h2> -->
<div class="row">
	<p align="center" style="color: red" id="message"> </p>
</div>

			
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
	        <div class="panel-heading">
	            <div class="row" align="center">
	                <div><h4>Entrer les notes</h4></div>
	            </div>
	        </div>
	        <div class="panel-body">
				<form action="" method="POST">
					{% csrf_token %}
					<table class="table table-striped table-bordered table-hover">
						<tr>
							<th></th>
							<th>Numéro matricule</th>
							<th>Nom</th>
							<th>Prénom(s)</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Note/20</th>
						</tr>
						{% for etd in liste_etudiant %}

						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{etd.matricule}}</td>
							<td>{{etd.nom}}</td>
							<td>{{etd.prenom}}</td>
							<td>{{etd.date_naissance}} </td>
							<td>{{etd.lieu_naissance}} </td>

							{% if etd in dict_note %} 
								{% for key, val in dict_note.items %}

									{% if etd == key %}
									<td>{{val}}</td>
									{% endif %}

								{% endfor %}
							{% else %}
								<td id="">
									<input class="form-control" type="number" step="0.01" min="0" max="20" name="note_{{etd.id}}">
								</td>
							{% endif %}
						</tr>

						{% endfor %}
					</table>
					<input type="hidden" name="id" value="0">
					<input type="hidden" name="idMat" value="{{matiere.id}}">
					<input type="hidden" name="departement" value="{{departement}}">
					<input type="hidden" name="niveau" value="{{niveau}}">
					<div class="row">
					<!--	<div class="pull-left">
		        			<a class=" btn btn-danger" type="button" href="#"><i class="fa fa-remove fa-fw"></i> <b>Annuler</b></a>
		        		</div>
		        		<div class="pull-right">
		        			<button class=" btn btn-success" type="submit"><i class="fa fa-save fa-fw"></i> <b>Sauvegarder</b></button>
		        		</div> -->
		        		<div class="pull-right" >
		        			<a class=" btn btn-danger" type="button" href="{% url 'choix_saisie_note' %}"><i class="fa fa-remove fa-fw"></i> <b>Annuler</b></a>

		        			<button class=" btn btn-success" type="submit"><i class="fa fa-save fa-fw"></i> <b>Sauvegarder</b></button>

		        		</div>
					</div>
	        		
				</form>
			</div>
		</div>
	</div>
</div>
<!-- fin div row -->

	
{% endblock  %}