
{% extends "easy_pdf/base.html" %}

{% load staticfiles %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }

    </style>
    <!-- Bootstrap Core CSS ../../base/static/css/bootstrap.min.css  {% static 'css/bootstrap.min.css' %}-->
    <link type="text/css" href="../../base/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Spécialisé -->
    <link type="text/css" href="../../base/static/css/print.css" rel="stylesheet">



{% endblock %}

{% block content %}
{% for key, val in dict_etd.items %}
    <p style="page-break-after: always;">&nbsp</p>
    <div class="wrapper">
      <!-- Main content -->
      <section class="invoice">
       <br>
        <!-- info row -->
        <div class="row invoice-info">
          <div class="col-sm-6 invoice-col">
            <address align="center">
            MINISTERE DE L'ENSEIGNEMENT SUPERIEUR DE LA<br>
            RECHERCHE SCIENTIFIQUE ET DE L'INNOVATION<br>
            ---------------<br>
            SECRETARIAT GENERAL<br>
            ---------------<br>
            UNIVERSITE Pr JOSEPH KI ZERBO<br>
            ---------------<br>
            UNITE DE FORMATION ET DE RECHERCHE EN <br>
            SCIENCES EXACTES ET APPLIQUEES (UFR-SEA)<br>
            ---------------<br>
            SERVICE DE LA SCOLARITE<br>
            ---------------<br>
            03 BP. 7021 OUAGADOUGOU 03<br>
            Tél. :(+226) 25 30 70 64 / 65<br>
            Fax : (+226) 25 30 72 42 <br>
            </address> 
          </div>
          <!-- /.col -->
          <div class="col-sm-2 invoice-col-2">
            <br><br><br>
            <img src="{% static 'img/logo.jpg' %}" alt="Logo de l'université" width="100%" height="100%">
          </div>
          <!-- /.col -->
          <div class="col-sm-4 invoice-col-3">
            <address align="center">
            BURKINA FASO <br>
            --------------- <br>
            Unité - Progrès - Justice
            <br><br><br><br><br><br><br>
            Année universitaire : 2014-2015
            </address>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <p align="center"><b>RELEVE DE NOTES</b>  </p>
        </div>
        
        <div class="row">
            <p align="center"><b>{{sous_titre1}}</b> </p>
        </div>
        <div class="row">
            <p align="center" style="font-size: 0.7em;">CONTROLE DES CONNAISSANCES ET EXAMENS </p>
        </div>
            
        <div class="row">
            <p align="center"><b>{{sous_titre2}}</b>  </p>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div>
        </div>


        <!-- Table row -->
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <table class="table table-striped" border="2px">
              <thead>
                  <tr>
                    <th>Codes UE</th>
                    <th>Intitulés</th>
                    <th>Nb. crédits</th>
                    <th>Note / 20</th>
                    <th>Côtes UE</th>
                  </tr>
              </thead>
              <tbody>
                {% for item in liste %}
                    {% if item.student == key %}
                      <tr>
                        <td>{{item.ue.code}} </td>
                        <td>{{item.ue.intitule}}</td>
                        <td>0{{item.ue.coef}}</td>
                        <td>{{item.moy}} </td>
                        <td>{{item.cote}}</td>
                      </tr>
                    {% endif %}
              {% endfor %}
              
              </tbody>
            </table>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
         
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    
    <!-- ./wrapper -->
{% endfor %}
{% endblock %}