{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}


{% block title %}Recherche d'informations{% endblock %}


{% block sectionTitle %} 
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Étudiant</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!--<h1 align="center"> {{ titregle }}-Nombre : {{nombre}}</h1> -->
{% endblock %}


<!-- Zone de recherche -->
{% block recherche %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center">Effectuer une recherche</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-offset-3 col-lg-6" align="center">
    	<div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 align="center">Zone de recherches</h3> 
                </div>
            </div>
            <div class="panel-body panel-recherche-body">
            	<form action="" method="POST">
            		{% csrf_token %}

            		<div class="row">
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.prenom|as_crispy_field }}
            			</div>
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.nom|as_crispy_field }}
            			</div>
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.matricule|as_crispy_field }}
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.departement|as_crispy_field }}
            			</div>
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.ufr|as_crispy_field }}
            			</div>
            			<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            				{{ recherche_form.niveau|as_crispy_field }}
            			</div>
            		</div>
            		<input type="hidden" name="profileType" value="{{ statut_recherche }}">
            		<div class="pull-right">
            			<button class=" btn btn-success" type="submit"><i class="fa fa-search fa-fw"></i> Effectuer</button>
            		</div>
            	</form>
            </div>
        </div>
    </div>
</div>



 {%endblock%}

 <!-- Fin de la Zone de recherche -->

{% block sectionContent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{{ titregle }}-Nombre : {{nombre}}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<br><br>
<div class="row">
	<div class="col-lg-8 pull-left">
		<p>{{titre_recherche}}</p>
	</div>

</div>

<br><br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        
                    </div>
                    <div class="col-xs-4 text-right">
                        <div>
                            {% if  liste %}
                                <a type="button" class="btn btn-warning" href=" {% url 'etudiant_pdf' nom prenom matricule ufr departement niveau %} " >
                                    <i class="fa fa-print fa-fw"></i> Imprimer la liste</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
            		    <tr>
            				<th></th>
            				<th>N° Matricule</th>
            				<th>Prénom(s)</th>
            				<th>Nom</th>
            				<th>Date de naissance</th>
            				<th>Sexe</th>
            				<th>Département</th>
            				<th>Niveau</th>
            				<th>Email</th>
            				<th>Niveau</th>
            				<th>Statut</th>
            				<th>Action</th>
            			</tr>
                    </thead>
                    <tbody>
                        
                    
            			{% for item in liste %}
            			
            			<tr>
            				<td>{{forloop.counter}}</td>
            				<td>{{item.matricule}} </td>
            				<td>{{ item.prenom }} </td>
            				<td>{{item.nom }} </td>
            				<td>{{item.date_naissance}} </td>
            				<td>{{item.sexe}} </td>
            				<td>{{ item.departement}} </td>
            				<td>{{item.niveau}} </td>
            				<td>{{ item.email }} </td>
            				<td>{{ item.niveau }} </td>
            				<td>{{ item.statut }} </td>
            				
            				<td>
            					<a href="{% url 'page_etudiant' item.id %}" type="button" class="btn btn-primary" >Détail(s)</a>
                                {% if user.type_user == 'Scolarite' %}
                                <a href="{% url 'del_etd' item.id %}" type="button" class="btn btn-danger">Supprimer</a>
                                {% endif %}
            				</td>
            				
            			</tr>
            			
            			{% endfor %}
                    </tbody>
		        </table>
	        </div>
        </div>
    </div>
</div>


{% endblock  %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/poper_active.js' %}"></script>
{% endblock %}