<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	<section>
		<!-- info row -->
	    <div class="row invoice-info">
	      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
	        <address align="center">
			UNIVERSITE JOSEPH KI ZERBO<br>
			---------------<br>
			UNITE DE FORMATION ET DE RECHERCHE EN <br>
			{{enseignant.departement.ufr.intitule.upper}} (UFR-{{enseignant.departement.ufr.code}})<br>
			---------------<br>
			SERVICE DE LA SCOLARITE<br>
			---------------<br>
			03 BP. 7021 OUAGADOUGOU 03<br>
			Tél. :(+226) 25 30 70 64 / 65<br>
			Fax : (+226) 25 30 72 42 <br>
			</address> 
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
	      	<br><br><br>
	        <img src="http://localhost:8000/static/img/logo.jpg" alt="Logo de l'université" width="100%"><!--width="100%" height="100%" -->
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	        <address align="center">
	        BURKINA FASO <br>
			--------------- <br>
			Unité - Progrès - Justice
			</address>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->
	    <br>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.5em;"><b>INFORMATIONS PERSONNELLES DE L'ÉNSEIGNANT</b></p>
	   		</div>
	    </div>
	    <br>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	    		<img src="http://localhost:8000{{profil}}" alt="Photo de profil" width="100%"><!--width="100%" height="100%" -->
	    	</div>
	    	<div class="col-lg-8 col-sm-8 col-xs-8 col-md-8">
	    		<div class="row">
	    			<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-info">
					        <div class="panel-heading">
					        	<p align="center"></p>
					        </div>
					        <div class="panel-body">
								<dl>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt >Matricule </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.matricule}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Nom </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.nom}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Prénom(s)</dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.prenom}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Email </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.compte.email}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Grade </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.grade}}</dd>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dt>Statut </dt>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<dd>: {{enseignant.statut}}</dd>
										</div>
									</div>
								</dl>
							</div>
						</div>
					</div>
	    		</div>
	    	</div>
	    </div>
	    <br>
	</section>
</body>
</html>