<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	<section>
		<!-- info row -->
	    <div class="row invoice-info">
	      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
	        <address align="center" style="font-size: 1.5em;">
			UNIVERSITE JOSEPH KI ZERBO<br>
			---------------<br>
			UNITE DE FORMATION ET DE RECHERCHE EN <br>
			{{enseignant.departement.ufr.intitule.upper}} (UFR-{{enseignant.departement.ufr.code}})<br>
			---------------<br>
			SERVICE DE LA SCOLARITE<br>
			---------------<br>
			03 BP. 7021 OUAGADOUGOU 03<br>
			Tél. :(+226) 25 30 70 64 / 65<br>
			Fax : (+226) 25 30 72 42 <br>
			</address> 
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
	      	<br><br><br>
	        <img src="http://localhost:8000/static/img/logo.jpg" alt="Logo de l'université" width="100%"><!--width="100%" height="100%" -->
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	        <address align="center" style="font-size: 1.5em;">
	        BURKINA FASO <br>
			--------------- <br>
			Unité - Progrès - Justice
			</address>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.7em;"><b>DÉTAILS ENSEIGNANT / MATIÈRE(S) ENSEIGNÉE(S)</b></p>
	   		</div>
	    </div>
	    <br>

	    <div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
				<div class="panel panel-info">
		            <div class="panel-heading">
		            	<div class="row">
		            		<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
			                    <h3  align="center">ENSEIGNANT</h3>
			                </div>
		            	</div>
		                
		            </div>
		            <!-- /.panel-heading -->
		            <div class="panel-body">
		            	<div class="row">
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										N° Matricule
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.matricule}}
									</div>
								</div>
		            		</div>
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Nom
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.nom}}
									</div>
								</div>
		            		</div>
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Prénom(s)
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.prenom}}
									</div>
								</div>
		            		</div>
		            	</div>
		            	<br><br>
		            	<div class="row">
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Grade
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.grade}}
									</div>
								</div>
		            		</div>
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										Département
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.departement}}
									</div>
								</div>
		            		</div>
		            		<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
		            			<div class="row">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										E-mail
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
										: {{enseignant.compte.email}}
									</div>
								</div>
		            		</div>
		            	</div>
		            	<br><br>
						<div class="row" align="center">
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">

								<p style="color: green;">Volume Horaire Dispensé : {{volume}}H </p>

							</div>
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">

								<p style="color: red;">Volume Horaire Statutaire : {{volume_stat}}H </p>

							</div>
						</div>
		            </div>
		        </div>
				
			</div>
		</div>
			<!-- Fin detail sur enseignant -->
			<br>
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
				<div class="panel panel-primary">
		            <div class="panel-heading">
		            	<div class="row">
		            		<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
			                    <h3  align="center">MATIÈRE(S)</h3>
			                </div>
		            	</div>
		                
		            </div>
		            <!-- /.panel-heading -->
		            <div class="panel-body">
		            	<div class="row">
					    	<div class="col-xs-12 col-md-12 col-sm-12 table-responsive">
						        <table class="table table-striped" border="2px">
				            		<thead>
				            			<tr>
				            				<th>Code</th>
				            				<th>Intitulé</th>
				            				<th>Vol. Horaire</th>
				            				<th>Crédits</th>
				            				<th>Niveau</th>
				            				<th>Département</th>
				            			</tr>
				            		</thead>
				            		<tbody>
				            			{% for mat in liste_mat_ens %}

				            				<tr>
				            					<td>{{mat.matiere.code}} </td>
				            					<td>{{mat.matiere.intitule}} </td>
				            					<td>{{mat.matiere.volHoraire}} </td>
				            					<td>{{mat.matiere.coef}} </td>
				            					<td>{{mat.matiere.uniteEnseign.niveau}} </td>
				            					<td>{{mat.matiere.uniteEnseign.departement}} </td>
				            				</tr>

				            			{% endfor %}
				            		</tbody>
		            			</table>
		            		</div>
		            	</div>
		            </div>
		        </div>
			</div>
		</div>
	</section>
</body>
</html>