{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de notes{% endblock %}
{% block sectionContent %}

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12">
			<h1>Détail sur l'enseignant</h1>

			<div class="col-lg-12 col-sm-12 col-12">
				<div class="col-6 col-lg-6 col-sm-6 col-xs-6">
					<label>Nom : </label>{{enseignant.nom}}
				</div>
				<div class="col-6 col-lg-6 col-sm-6 col-xs-6">
					<label>Prénom(s) : </label>{{enseignant.prenom}}
				</div>
			</div>
			<div class="col-lg-12 col-sm-12 col-12">
				<div class="col-6 col-lg-6 col-sm-6 col-xs-6">
					<label>N° Matricule : </label>{{enseignant.matricule}}
				</div>
				<div class="col-6 col-lg-6 col-sm-6 col-xs-6">
					<label>Email : </label>{{enseignant.email}}
				</div>
			</div>
			<div class="row">
				<a href="#" type="button" class="btn btn-primary">Modifier mon profil</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12">
			<h1>Liste des matières enseignées</h1>
			<table>
				<tr>
					<th>Intitulé de la matière</th>
					<th>Niveau</th>
					<th>Departement</th>
				</tr>
				{% for matiere in list_matiere %}
                
                <tr>
                	<td>{{matiere.intitule}}</td>
                	<td>{{matiere.niveau}}</td>
                	<td>{{matiere.departement}}</td>
                </tr>
                
                {% endfor %}
			</table>
			
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12">
			<h1>Choisir la matière pour la saisie  des notes</h1>

			<form action="" method="POST">
				<label>Matière : </label>
				<select class="form-control" >
					{% for matiere in list_matiere %}
                    
                    <option value="{{matiere.id}}">{{matiere.intitule}}-{{matiere.niveau}}-{{matiere.departement}}</option>
                    
                    {% endfor %}
                    <button type="submit" class="btn btn-success">OK</button>
				</select>
			</form>
			
		</div>
	</div>
</div>

{% endblock  %}