{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}retirer-matiere{% endblock %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paramétrage / Gestion des matières / Retirer matière</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}

{% block sectionContent %}

{% for ens in liste_enseignant %}
	<div class="row">
		<div class="col-lg-4 det-ens">
			<div class="panel panel-info">
	            <div class="panel-heading">
	            	<div class="row">
	            		<div class="col-xs-12">
		                    <h4  align="center">Infos sur enseignant</h4>
		                </div>
	            	</div>
	                
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	            	<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							N° Matricule
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							: {{ens.matricule}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							Nom
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							: {{ens.nom}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							Prénom(s)
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							: {{ens.prenom}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							Grade
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							: {{ens.grade}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							Département
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							: {{ens.departement}}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">

							{% for key, val in dict.items %}
								{% if key == ens %}
									<p style="color: green;">Volume Horaire Dispensé : {{val}}H </p>
								{% endif %}
							{% endfor %}

						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
							{% for key in statutaire %}
								{% if key.grade == ens.grade %}
									<p style="color: red;">/ Volume Horaire Statutaire : {{key.volume}}H </p>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">
							<a href="{% url 'Imprimer_matiere_ens' ens.id %} " type="btn" class="btn btn-warning">
								<i class="fa fa-print fa-fw"></i>Imprimer</a>
						</div>
					</div>
	            </div>
	        </div>
			
		</div>
		<!-- Fin detail sur enseignant -->
		<div class="col-lg-8">
			<div class="panel panel-primary">
	            <div class="panel-heading">
	            	<div class="row">
	            		<div class="col-xs-12">
		                    <h4  align="center">Liste de Matière(s) enseignée(s)</h4>
		                </div>
	            	</div>
	                
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
	            	<table class="table table-striped table-bordered table-hover" id="dataTables-example">
	            		<thead>
	            			<tr>
	            				<th>Code</th>
	            				<th>Intitulé</th>
	            				<th>Vol. Horaire</th>
	            				<th>Crédits</th>
	            				<th>Niveau</th>
				            	<th>Département</th>
	            				<th>Action</th>
	            			</tr>
	            		</thead>
	            		<tbody>
	            			{% for mat in liste_mat_ens %}

	            			{% if mat.enseignant == ens %}

	            				<tr>
	            					<td>{{mat.matiere.code}} </td>
	            					<td>{{mat.matiere.intitule}} </td>
	            					<td>{{mat.matiere.volHoraire}} </td>
	            					<td>{{mat.matiere.coef}} </td>
	            					<td>{{mat.matiere.uniteEnseign.niveau}} </td>
	            					<td>{{mat.matiere.uniteEnseign.departement}} </td>
	            					<td><a href="{% url 'Retirer_matiere' mat.id %} " type="button" class="btn btn-danger">Rétirer</a> </td>
	            				</tr>

	            			{% endif %}

	            			{% endfor %}
	            		</tbody>
	            	</table>
	            </div>
	        </div>
		</div>
	</div>

	<div class="row"><div class="col-lg-12"><h1 class="page-header"></h1></div></div>
{% endfor %}

{% endblock  %}

{% block script %}
	<script type="text/javascript" src=""></script>
{% endblock %}