.info-en-tete, .mess, .messa{
	border-style: solid;
  	border-width: 2px;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: white;
}

.mess{
	border-color: green;
}
.messa{
	border-color: red;
}
.inf{
	border-color: skyblue;
}
.war{
	border-color: yellow;
}
.succ{
	border-color: green;
}

.acceuil-dep{
	font-size: 20px;
}