.les_consult{
	display: inline-block;
}
.item1{
	color: black;
}

#contenu{
	background: white;
}

a:hover{
	color:red;
	background-color: white;
}

.panel:hover{
	background: white;
}

#contenu{
	background-color: white;
}

a:hover{
	color:black;
	background-color: white;
}
#headerTitle{
	color: white;
}
.search{
	display: inline-block;
}
.smenu:hover{
	color: red;
}

#anUniv{
	margin-right: 10px;
}

#headerfixe{
	position: fixed;

}

.asteriskField, .message{
	color: red;
}
.asteriskField{
	margin-left:5px;
}
.affect, .Cjury, .Lmembres{
	background: #eee;
	border-radius: 15px;
	padding: 35px;
	color:black;

}/*
.Lmembres{
	background: rgb(150,145,92);
} */
.form-control{
	border-radius: 10px;
}
legend{
	color: blue;
}

#ajterAnnee{
	background: skyblue;
}
.page_detail{

	background: skyblue;
	padding: 20px;
	border-radius: 15px;
}
.detail_ens, .detail_etd{
	background: white;
	border-radius: 15px;
	padding:10px;
}
h1, h2{

}

table{
	margin:0;
}

.panel-recherche-body{
	background: #cce6ff;
}