{% extends 'tableau_bord.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %} Acceuil {% endblock %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/admis.css' %}">
{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tableau de bord</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %} 

{% if user.titre == 'Enseignant'  %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-leanpub fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_matiere}} </div>
                            <div>
                                Nombres de matières enseignées
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_jury}} </div>
                            <div>
                                Nombre de jury d'apparténance 
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'liste_Jury_par_ens' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de detail Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif user.titre == 'Directeur' %}
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-leanpub fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_matiere}} </div>
                            <div>Nombre de matières enseignées</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_jury}} </div>
                            <div>Nombre de jury d'apparténance</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'liste_Jury_par_ens' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_ens_ufr}} </div>
                            <div>Nombre enseignants/UFR</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'consult_enseignant' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    </div>
{% elif user.titre == "Chef de département" %}
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-leanpub fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_matiere}} </div>
                            <div>Nombre de matières enseignées</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_jury}} </div>
                            <div>Nombre de jury d'apparténance</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'liste_Jury_par_ens' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_ens_dep}} </div>
                            <div>Nombre enseignants/{{user.departement}} </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'consult_enseignant' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% elif user.type_user == 'Scolarite' %}

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_enr}} </div>
                            <div>
                                Nombres d'enregistrement d'etudiants non validé
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'validation_enregistrement' %}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nbre_rel}} </div>
                            <div>
                                Nombre de relevés disponible
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'imprimer_Releve' %} ">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de detail Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endif %}

{% if user.departement.ufr.code == 'SEA' or user.ufr.code == 'SEA' %}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">
            <div class="row">
                <b>UNITÉ DE FORMATION ET DE RECHERCHE EN</b>
            </div>
            <div class="row">
                <b>SCIENCES EXACTES ET APPLIQUÉES</b>
            </div>
            <div class="row">
                <b>UFR-SEA</b>
            </div>
        </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    
    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h3><i class="fa fa-info fa-fw"></i> Mathématiques</h3>
            </div>
            <div class="panel-body acceuil-dep" align="center">
                <br>
                <div class="row">
                    Nombre d'étudiants <br>
                    {{nbre_etd_mat}}
                </div>
                <br>
                <br>
                <div class="row">
                    Nombre d'enseignants <br>
                    {{nbre_ens_mat}}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3><i class="fa fa-star fa-fw"></i> Physique</h3>
            </div>
            <div class="panel-body acceuil-dep" align="center">
                <br>
                <div class="row">
                    Nombre d'étudiants <br>
                    {{nbre_etd_phy}}
                </div>
                <br>
                <br>
                <div class="row">
                    Nombre d'enseignants <br>
                    {{nbre_ens_phy}}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3><i class="fa fa-cubes fa-fw"></i> Chimie</h3>
            </div>
            <div class="panel-body acceuil-dep" align="center" >
                <br>
                <div class="row">
                    Nombre d'étudiants <br>
                    {{nbre_etd_chi}}
                </div>
                <br>
                <br>
                <div class="row">
                    Nombre d'enseignants <br>
                    {{nbre_ens_chi}}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3" align="center">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3><i class="fa fa-code fa-fw"></i> Informatique</h3>
            </div>
            <div class="panel-body acceuil-dep" align="center">
                <br>
                <div class="row">
                    Nombre d'étudiants <br>
                    {{nbre_etd_inf}}
                </div>
                <br>
                <br>
                <div class="row">
                    Nombre d'enseignants <br>
                    {{nbre_ens_inf}}
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}
<br><br><br><br>

{% endblock%}