{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Activation de compte</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
<body>
	<h1 align="center">Activation de compte sidinfor</h1>
	
	<div class="container">
		{% if activation %}
		<div align="center">
			L'activation du compte de {{pseudo}} à été effectué avec succès ...
			<div class="row" align="center">
				<a href="{% url 'validation_enregistrement' %}" type="button" class="btn btn-primary">Revenir</a>
			</div>
		</div>
		{% else %}
		<div align="center">
			Echec d'activation...
		</div>
		{% endif %}
	</div>
</body>
</html>