{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock  %}



{% block title %}Inscription Etudiant{% endblock %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paramétrage / Gestion des matières </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}

{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center">Nouvelle affectation </h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
		<div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        
                    </div>
                    <div class="col-xs-4 text-right">
                        
                    </div>
                </div>
            </div>
            <div class="panel-body">
			<!--	<div class="affect"> -->
					<div class="row">
						<p class="message" align="center">
							{{message}}
						</p>
					</div>
					<form action="" method="POST">
						{% csrf_token %}
						<fieldset style="text-align: center">
							<legend><b>Matière</b></legend>
							<div class="row">
								<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
									<p id="id_ufr1">{{ filtre_mat.ufr|as_crispy_field }}</p>
								</div>
								<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
									<p id="id_dep1">{{ filtre_mat.departement|as_crispy_field }}</p>
								</div>
								<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
									<p id="id_niv">{{ filtre_mat.niveau|as_crispy_field }}</p>
								</div>
								<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
									<p>{{ affectation_form.matiere|as_crispy_field }}</p>
								</div>
							</div>
						</fieldset>
						<br><br>
						<fieldset>
							<legend><b>Enseignant</b></legend>
							<div class="row">
								<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
									<p id="id_ufr2">{{ filtre_ens.ufr1|as_crispy_field }}</p>
								</div>
								<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
									<p id="id_dep2">{{ filtre_ens.departement1|as_crispy_field }}</p>
								</div>
								<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
									<p>{{ affectation_form.enseignant|as_crispy_field }}</p>
								</div>
							</div>
						</fieldset>
						<div class="row">
							<div class="" align="center">
			        			<button class=" btn btn-success" type="submit">Effectuer</button>
			        		</div>
						</div>
					</form>
			<!--	</div> -->
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/affectation.js' %}"></script>
{% endblock %}