{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Consulter matière (s) par Classe</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-9">
	                	<form action="" method="POST">
	                		{% csrf_token %}
	                		<div class="row">
	                			<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{rech.niveau|as_crispy_field }}
								</div>
		                		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{rech.departement|as_crispy_field }}
								</div>
		                		<button type="submit" class="btn btn-success" id="id_button"><i class="fa fa-search fa-fw"></i></button>
	                		</div>
	                	</form>
	                </div>
	                <div class="col-xs-3 text-right">
	                    <a href="#" type="button" class="btn btn-warning">Imprimer la feuille</a>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr align="center">
							<th colspan="10" align="center" id="id_thead">
								{{titre}}
							</th>
						</tr>
						<tr>
							<th>Code UE</th>
							<th>Intitulé UE</th>
							<th>NC/UE</th>
							<th>Intitulé ECU</th>
							<th>Code ECU</th>
							<th>NC/ECU</th>
							<th>VHE</th>
							<th>HP</th>
							<th>HPE</th>
							<th>Enseignant</th>
						</tr>
					</thead>
					<tbody id="id_tbody">
						{% for ue in liste_ue %}

							<!--{% for key, val in dict_nbre_ec.items %}
								{% if key == ue %}
									<td rowspan="{{val}}">
										{{ue.code}}
									</td>
									<td rowspan="{{val}}">
										{{ue.intitule}}
									</td>
									<td rowspan="{{val}}">
										{{ue.coef}}
									</td>
									{% if val == 2 %}


									{% elif val == 3 %}
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									{% endif %}
								{% endif %}
							{% endfor %} -->
							{% for ec in liste_ec %}
								{% if ec.uniteEnseign == ue %}
								<tr>
									<td>
										{{ue.code}}
									</td>
									<td>
										{{ue.intitule}}
									</td>
									<td>
										{{ue.coef}}
									</td>
									<td>
										{{ec.intitule}}
									</td>
									<td>
										{{ec.code}}
									</td>
									<td>
										{{ec.coef}}
									</td>
									<td>
										{{ec.volHoraire}} + 3/2 *{{ec.volHoraire}}
									</td>
									<td>
										{{ec.volHoraire}}
									</td>
									<td>
										3/2 *{{ec.volHoraire}}
									</td>

									{% for ens in liste_ens %}

										{% if ens.matiere == ec %}
											<td>
												{{ens.enseignant.nom}}  {{ens.enseignant.prenom}} 
											</td>
										{% endif %}

									{% endfor %}
								</tr>
								{% endif %}
							{% endfor %}
						
						{% endfor %}
					</tbody>
				</table>
				</div>
			</div>
		</b>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src=""></script>
{% endblock %}