{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}


{% block title %}Changement d'année universitaire{% endblock %}


{% block sectionTitle %} <h2 align="center"> Changer d'année universitaire </h2>{% endblock %}

{% block sectionContent %}

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-sm-6 col-md-6 affect" id="ajterAnnee">
			<h2>Ajouter une nouvelle année </h2>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-md-12">
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
								<p>{{ anneeform.an|as_crispy_field }}</p>
							</div>
						</div>
						<div class="row">
							<div class="pull-left">
			        			<button class=" btn btn-success" type="submit">Effectuer</button>
			        		</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-6 col-md-6">
			<h2>Liste des années universitaires</h2>
			<table align="center"class="table table-bordered table-striped table-condensed">
				<tr>
					<th></th>
					<th>Année universitaire</th>
					<th>Action</th>
				</tr>
				{% for an in liste_annee %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{an}}</td>
					<td><a href="#">Supprimer</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}