{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{%  load  bootstrap4  %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="mon en-tête spécialisée">
        <meta name="author" content="Inoussa Legrene">

        <title>SIDINFOR - {% block title %} {% endblock %} </title>

    <!--    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

        <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
        <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS ../static/css/timeline.css 
        <link href="{% static 'css/timeline.css' %}" rel="stylesheet"> -->

        <!-- Morris Charts CSS ../static/css/morris.css  
        <link href=" {% static 'css/morris.css' %}" rel="stylesheet"> -->

        <!-- Custom CSS  ../static/css/startmin.css -->
        <link type="text/css" href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts ../static/css/font-awesome.min.css  -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        {% block autrecss %}
     
        {% endblock  %}
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 1.3em">
            	<div class="row">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><b>SIDINFOR</b></a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i>Home</a></li>
                    <li><a href="" id="anneeuniversitaire">Année Universitaire : {{annee_univ}} </a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                	
                    <li>
                    	<a href="#"><i class="fa fa-bell fa-fw"></i></a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> User <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                        <!--  	<li>
                            	<a href="#" ><i class="fa fa-gear fa-fw"></i> Settings<b class="caret"></b></a>
                            	
                            </li>  class="nav-link smenu"  -->

                         <!--     <li class="panel panel-info nav-item btn btn-outline-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#lmenu1" class="nav-link accordion-toggle"><i class="fa fa-gear fa-fw"></i>Settings<b class="caret"></b></a>
									</h4>
								</div>
								<ul id="lmenu1" data-parent="#menu" class="list-group collapse in">
									<li class="list-group-item">
										<a href="{% url 'save_etudiant' %}" >Etudiant</a>
									</li>
									<li class="list-group-item">
										<a href="{% url 'save_enseignant' %}" >Enseignant</a>
									</li>
									<li class="list-group-item">
										<a href="{% url 'save_scolarite' %}" >Agent de la scolarité</a>
									</li>
								</ul>
							</li> -->
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                        <!--    <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                             
                            </li> -->
                             <!-- /input-group -->
                            <li>
                                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                        <!--    <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i> S'enregistrer<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'save_etudiant' %}">Etudiant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_enseignant' %}">Enseignant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_scolarite' %}">Agent de la scolarité</a>
                                    </li>
                                </ul>
                                
                            </li> -->   <!-- /.nav-second-level -->

                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i> Note<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Saisir note</a>
                                    </li>
                                    <li>
                                        <a href="#">Saisir note S</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Consulter_note_form' %} ">consulter notes</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-list-ol fa-fw"></i> Consultation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'consult_etudiant' %}">Liste des étudiants</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_enseignant' %}">Liste des enseignants</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_scolarite' %}">Liste de la scolarité</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-book fa-fw"></i> Déliberation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'login_user' %} ">Déliberer</a>
                                    </li>
                                    <li>
                                        <a href="#">Imprimer rélevés</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Paramétrage<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'creation_jury' %}">Céer un Jury</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'affectation' %} ">Affectation de matière</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'annee_Univ' %}">Année Universitaire</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper" style="font-size: 1.2em">
                <div class="container-fluid">
                	<br><br>
                    {% block sectionTitle %} {% endblock %}
                    <br>
                	{% block recherche %} {%endblock%}
                	<br>
                    
                    {% block sectionContent %} {% endblock%}
                    
                <!-- /.container-fluid -->
                </div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery ../static/js/jquery.min.js  
        <script src="{% static 'js/jquery.min.js' %}"></script> -->

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript ../static/js/bootstrap.min.js  -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Custom Theme JavaScript ../static/js/startmin.js -->
        <script src="{% static 'js/startmin.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript  ../static/js/metisMenu.min.js -->
        <script src="{% static 'js/metisMenu.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

        {% block script %}
    
        {% endblock %}

    </body>
</html>
