{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{%  load  bootstrap4  %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mon en-tête spécialisée">
    <meta name="author" content="Inoussa Legrene">

    <title>SIDINFOR - {% block title %} {% endblock %} </title>

	<!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS  ../static/css/startmin.css -->
        <link type="text/css" href="{% static 'css/startmin.css' %}" rel="stylesheet">

    <!-- Custom Fonts ../static/css/font-awesome.min.css  -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    {% block autrecss %}
 
    {% endblock  %}

</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 1.3em">
            <div class="row">
                <div class="navbar-header">
                    <a href="" class="navbar-brand"><b>SIDINFOR</b></a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="{% url 'tableau_bord' %}"><i class="fa fa-home fa-fw"></i>Home</a></li> 
                <!--    <li><a href="" id="anneeuniversitaire">Année Universitaire : {{annee_univ}} </a></li> -->
                </ul>

        <!--        <ul class="nav navbar-nav navbar-right navbar-top-links">
                    <li><a href="{% url 'login_user' %} "><i class="fa fa-sign-in fa-fw"></i>Se connecter</a></li>
                </ul> -->
            </div>
            <!-- /.navbar-top-links -->
        </nav>

    <!--    <div id="page-wrapper"> -->
            <div class="container-fluid">
                
                {% block sectionTitle %} {% endblock %}
                <br><br>
                {% block sectionContent %} {% endblock%}
                
            <!-- /.container-fluid -->
            </div>
      <!--  </div>
         /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	

	<script src="{% static 'js/jquery.min.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript ../static/js/bootstrap.min.js  -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block script %}
    
    {% endblock %}


</body>
</html>