{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="mon en-tête spécialisée">
        <meta name="author" content="Inoussa Legrene">

        <title>SIDINFOR - {% block title %} {% endblock %} </title>

    <!--    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

        <!-- Bootstrap Core CSS -->
        <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link type="text/css" href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        {% block autrecss %}
     
        {% endblock  %}
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a href="" class="navbar-brand">SIDINFOR</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i>Home</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> User <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i> Inscription<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'save_etudiant' %}">Etudiant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_enseignant' %}">Enseignant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_scolarite' %}">Agent de la scolarité</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i>Note<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Saisir note</a>
                                    </li>
                                    <li>
                                        <a href="#">consulter notes</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i>Consultation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Liste des étudiants</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_enseignant' %}">Liste des enseignants</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_scolarite' %}">Liste de la scolarité</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Déliberation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Déliberer</a>
                                    </li>
                                    <li>
                                        <a href="#">Imprimer rélevés</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">

                    {% block sectionTitle %} {% endblock %}
                    
                    {% block sectionContent %} {% endblock%}

                    
                <!-- /.container-fluid -->
                </div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <!-- <script src="{% static 'js/startmin.js' %}"></script> -->

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'js/metisMenu.min.js' %}"></script>

        {% block autrescript %}
    
        {% endblock %}

    </body>
</html>


// brouillon tous_etudiants.html

<div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8" align="center">

    <form  action="" method="POST" id="etd_matricule" class="">
        <div class="row">
            <div class="col-9">
                {% csrf_token %}
                {% crispy rech_specifique2 %}
                <input type="hidden" value="etudiant" name="profileType" />
            </div>
            <div class="col-3">
                <input type="submit" value="Effectuer" name="Etd_matricule" id="Etd_matricule" class="btn btn-success" />
            </div>
        </div>
        
    </form>

</div>
<br><br>
<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-info" href="#" data-toggle="modal" data-target="#modalDepEtd" >Liste étudiants/Dep</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#modalUFREtd" >Liste étudiants/UFR</button>
    </div>
    
</div> 



{%block autre_head %}
<!-- Les fenêtres modal -->

<div class="modal fade" id="modalDepEtd">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Veuillez choisir le département</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

          <!-- Modal body -->
        <div class="modal-body">
            <form  action="" method="POST" id="etd_dep">
                {% csrf_token %}
                
                {% crispy rech_speci_departement1 %}

                <input type="hidden" value="etudiant_dep" name="profileType" />
                <div class="col-10">
                    <input type="submit" value="Effectuer" name="Etd_dep" id="Etd_dep" class="btn btn-success" />
                </div>
            </form>
        </div>

          <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalUFREtd">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Veuillez choisir l' UFR </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

          <!-- Modal body -->
        <div class="modal-body">
            <form  action="" method="POST" id="etd_ufr">
                {% csrf_token %}
                
                {% crispy rech_speci_ufr %}
                <input type="hidden" value="etudiant_ufr" name="profileType" />
                <div class="col-10">
                    <input type="submit" value="Effectuer" name="Etd_ufr" id="Etd_ufr" class="btn btn-success" />
                </div>
            </form> 
        </div>

          <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>

<!-- Fin fenêtre modale -->

<!-- Fonction consult_enseignant -->

    liste=False
    dep='d'
    ufr='u'
    rech_specifique1=Rech_specifique()
    rech_speci_ufr2=Rech_speci_ufr()
    rech_speci_departement2=Rech_speci_departement()
    titregle=''
    matricule='m'
    type_liste='tout'
    
    if request.POST:
        if request.POST['profileType']=='enseignant':
            rech_specifique1=Rech_specifique(request.POST)
            if rech_specifique1.is_valid():
                matricule=rech_specifique1.cleaned_data['matricule']
                titre='Enseignant'
                liste=Enseignant.objects.filter(matricule=matricule)
                titregle='Enseignant de N°matricule '+matricule
                type_liste='ens'
                
        elif request.POST['profileType']=='enseignant_dep':
            rech_speci_departement2=Rech_speci_departement(request.POST)
            if rech_speci_departement2.is_valid():
                dep=rech_speci_departement2.cleaned_data['departement']
                liste=Enseignant.objects.filter(departement=dep)
                titre='Liste des enseignants du département '
                titregle='Liste des enseignants : Département '+str(dep)
                type_liste='dep'
                
        elif request.POST['profileType']=='enseignant_ufr':
            rech_speci_ufr2=Rech_speci_ufr(request.POST)
            if rech_speci_ufr2.is_valid():
                ufr=rech_speci_ufr2.cleaned_data['ufr']
                liste=Enseignant.objects.filter(departement__ufr=ufr)
                titre='Liste des enseignants de l\' UFR-'
                titregle='Liste des enseignants : UFR-'+str(ufr)
                type_liste='ufr'
        
        nb=len(liste)
        return render(request, 'tous_enseignants.html',{'matricule': matricule,'type_liste':type_liste,'rech_speci_ufr2':rech_speci_ufr2,'rech_speci_departement2':rech_speci_departement2,'nombre':nb,'rech_specifique1':rech_specifique1,'liste':liste, 'titre':titre,'ufr':ufr,'departement':dep,'titregle':titregle} )
    else:
        titregle='Liste de tous les enseignants inscrits sur la plateforme'
        titre='Liste des enseignants'
        liste=Enseignant.objects.all()
        rech_specifique1=Rech_specifique()
        rech_speci_departement2=Rech_speci_departement()
        rech_speci_ufr2=Rech_speci_ufr()
        nb=len(liste)
        type_liste='tout'
        return render(request, 'tous_enseignants.html',{'matricule': matricule,'type_liste':type_liste,'rech_speci_ufr2':rech_speci_ufr2,'rech_speci_departement2':rech_speci_departement2,'nombre':nb,'rech_specifique1':rech_specifique1,'liste':liste, 'titre':titre,'ufr':ufr,'departement':dep,'titregle':titregle} )
<!-- Fin fonction -->

{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Connexion{% endblock %}

{% block autrecss %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/login.css' %}">

{% endblock  %}


{% block sectionContent %}
<br><br><br><br><br><br><br><br><br><br><br>
<center class="container">
    <div class="col-lg-offset-4 col-lg-6 col-md-offset-2 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
        <div class="form-connexion">
            <div class="titre-form-connexion">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p align="center"><b>SIDINFOR-CONNEXION</b></p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <p align="center" class="message"><b> {{info}}</b></p>
            </div>
            
            <div class="row">
                <form action="" method="POST">
                    <div class="body-form-connexion">
                        {% csrf_token %}
                        <div class="row"> 
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p>{{ form.username|as_crispy_field}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p>{{ form.password|as_crispy_field}}</p>
                            </div>
                        </div>
                        <br><br> 
                        
                    </div>
                    <div class="footer-form-connexion">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="" align="center">
                                    <button class=" btn btn-warning button" type="submit" style="font-size: 1.5em">Se connecter</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</center>


{% endblock %}

{% block script %}


{% endblock %}


{% for ec in liste_matiere %}
                                    
    {% if ec.uniteEnseign == ue %}

    <th>
        {{ec.intitule}}
    </th>
    <td>
        {{ec.coef}}
    </td>
    <td>
        <a href="#">Modifier</a>-<a href="#">Supprimer</a>
    </td>
    {% endif %}
{% endfor %}

<!-- Tableau des matières -->

{% if ue.departement == user.departement %}
                                {% if ue in dict_ue %}
                                <tr>
                                    {% for key, val in dict_ue.items %}
                                    {% if key == ue %}
                                    <th rowspan ="{{val}} ">
                                        {{ue.intitule}}
                                    </th>
                                    <td rowspan="{{val}} ">
                                        {{ue.coef}}
                                    </td>
                                    <td rowspan="{{val}} ">
                                        {{ue.niveau}}
                                    </td>
                                    <td rowspan="{{val}} ">
                                        {{ue.departement}}
                                    </td>
                                    <td rowspan="{{val}} ">
                                        <a href="#">Modifier</a>-<a href="#">Supprimer</a>
                                    </td>
                                    {% for ec in liste_matiere %}
                                    
                                        {% if ec.uniteEnseign == ue %}

                                        <th>
                                            {{ec.intitule}}
                                        </th>
                                        <td>
                                            {{ec.coef}}
                                        </td>
                                        <td>
                                            <a href="#">Modifier</a>-<a href="#">Supprimer</a>
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                    {% else %}
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                    {% endif %}
                                    
                                {% endif %}


#### Validation enregiqtrement


 <!--           <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">

                                
                                {% if user.type_user == 'Scolarite' and user.titre == 'Agent' %}

                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                    {{rech.niveau|as_crispy_field }}
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                    {{rech.departement|as_crispy_field }}
                                </div>
                                <button type="submit" class="btn btn-success"><i class="fa fa-search fa-fw"></i></button>
                                {% endif %}
                                
                            </div>
                        </form> -->


Formullaire d'affectetion de matière

<div class="affect">
            <div class="row">
                <p class="message" align="center">
                    {{message}}
                </p>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset style="text-align: center">
                    <legend><b>Matière</b></legend>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                            <p id="id_ufr1">{{ filtre_mat.ufr|as_crispy_field }}</p>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                            <p id="id_dep1">{{ filtre_mat.departement|as_crispy_field }}</p>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                            <p id="id_niv">{{ filtre_mat.niveau|as_crispy_field }}</p>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                            <p>{{ affectation_form.matiere|as_crispy_field }}</p>
                        </div>
                    </div>
                </fieldset>
                <br><br>
                <fieldset>
                    <legend><b>Enseignant</b></legend>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                            <p id="id_ufr2">{{ filtre_ens.ufr1|as_crispy_field }}</p>
                        </div>
                        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                            <p id="id_dep2">{{ filtre_ens.departement1|as_crispy_field }}</p>
                        </div>
                        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                            <p>{{ affectation_form.enseignant|as_crispy_field }}</p>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="" align="center">
                        <button class=" btn btn-success btn-lg" type="submit">Effectuer</button>
                    </div>
                </div>
            </form>
        </div>