{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionContent %}


	<div class="container">

		<!-- Zone des choix d' action à réaliser -->

			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="row">
					<h1>Consultation enseignant/Matière enseigné</h1>
				</div>
			
				<div class="row">
					<div class="">
						<div class="les_consult">
							<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="l_ens_all">
								<button type="submit" class="btn btn-primary" id="l_ens_all">liste des enseignants </button>
							</form>
						</div>
						<div class="les_consult">
						<!--	<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="l_ens_all_ufr"> </form> -->
								<button type="button"  class="btn btn-info" id="l_ens_all_ufr">liste des enseignants/UFR</button>
							
						</div>
						<div class="les_consult">
							<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="d_ens">
								<button type="submit" class="btn btn-success" id="d_ens">Detail sur enseignant</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12 col-xs-12">
				<div class="row">
					<h1>Consultation des étudiants</h1>
				</div>
				<div class="row">
					<div class="">
						<div class="les_consult">
							<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="l_etd_all">
								<button type="submit" class="btn btn-primary" id="l_etd_all">Liste des étudiants</button>
							</form>
						</div>
						<div class="les_consult">
							<!--<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="l_etd_all_ufr"> </form> -->
								<button type="button" class="btn btn-info" id="l_etd_all_ufr">Liste des étudaints/UFR</button>
							
						</div>
						
						
						
					</div>
				</div>
				<br><br>
				<div class="row">
					<div>
						<div class="les_consult">
						<!--	<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="etd_detail"> </form> -->
								<button type="button" class="btn btn-success" id="etd_detail">Détail sur  étudiant</button>
							
						</div>
						<div class="les_consult">
							<form action="" method="POST">
								{% csrf_token %}
								
								<input type="hidden" name="type_consultation" value="l_etd_all_dep">
								<button type="submit" class="btn btn-info" id="l_etd_all_dep">Liste des étudaints/Dep</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Fénètre modal -->

			<div class="modal fade" id="formulaire">
				<div class="modal-dialog">
					<div class="modal-content"></div>
				</div>
			</div>

			<!-- Zone du tableau ou sera affiché les listes ou details -->
			
			<div class="col-xs-12 col-lg-12 col-sm-12" id="aff_detail">
				
			{% if liste %}
			<div class="affichage">
				
				<table align="center"class="table table-bordered table-striped table-condensed" >
					<caption>{{titre}}</caption>
					<tr>
						<th>N° Matricule</th>
						<th>Prénom(s)</th>
						<th>Nom</th>
						<th>Département</th>
						{% if Enseignant %}
						<th>Grade</th>
						
						{% else%}
						<th>Email</th>
						<th>Niveau</th>
						<th>Statut</th>
						{% endif %}
						<th>Action</th>
					</tr>
					{% for item in liste  %}
					
					<tr>
						<td>{{item.matricule}} </td>
						<td>{{ item.prenom }} </td>
						<td>{{item.nom }} </td>
						<td>{{ item.departement}} </td>
						{% if Enseignant %}
						<td>{{ item.grade }} </td>
						
						{% else %}
						<td>{{ item.email }} </td>
						<td>{{ item.niveau }} </td>
						<td>{{ item.statut }} </td>
						{% endif %}
						{% if Enseignant %}
						<td>
							<a href="#" >Matière(s) enseignée(s)</a>
						</td>
						{% else %}
						<td>
							<a href="#" >Cursus Universitaire</a>
						</td>
						{% endif %}
					</tr>
					
					{% endfor %}
				</table>
			</div> 
			{% endif %}

			</div>
	</div>
{% endblock  %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		$("body").on("hidden.bs.modal", ".modal", function(){
			$(this).removeData("bs.modal");
		});
		$('#etd_detail').click(function(){
			$('#formulaire').modal({remote: "modal_detail_etd.html"}, "show");
		});
		$('#l_etd_all_ufr').click(function(){
			$('#formulaire').modal( {remote: "modal_liste_ens_ufr.html"}, "show");
		});
	</script>
{% endblock %}