{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Matière</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-6">
	                	<form action="" method="POST">
	                		{% csrf_token %}
	                		<div class="row">
	                			<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{rech.niveau|as_crispy_field }}
								</div>
		                		{% if user.titre == 'Directeur' %}
		                		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{rech.departement|as_crispy_field }}
								</div>
		    	            	{% endif %}
		                		<button type="submit" class="btn btn-success"><i class="fa fa-search fa-fw"></i></button>
	                		</div>
	                	</form>
	                </div>
	                <div class="col-xs-3" align="">
	                <!--	<a href="{% url 'Afficher_matiere_par_Classe' %} " type="button" class="btn btn-warning">Voir la liste</a> -->
	                </div>
	                <div class="col-xs-3 text-right">
	                    <div class="row">
                    		<a href="{% url 'add_UE' %}"  type="button" class="btn btn-primary">+ UE</a>
                    	
                    		<a href="{% url 'add_EC' %}"  type="button" class="btn btn-primary">+ EC</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>
								Code UE
							</th>
							<th>Niveau</th>
							<th>Département</th>
							<th>
								Elements constitutifs
							</th>
							<th>Coef EC</th>
							<th>Action</th>
							<th>Déjà affectée</th>
						</tr>
					</thead>
					<tbody>
					{% for ue in liste_ue %}
						{% if user.titre == 'Chef de département' %}
							{% if ue.departement == user.departement %}
								{% for ec in liste_matiere %}
                                    {% if ec.uniteEnseign == ue %}
                                    <tr>
                                    	<th>
                                    		{{ue.code}} - <a href="{% url 'voir_plus_UE' ue.id %} "  type="button" class="btn btn-primary">voir +</a> - 
                                    		{% if ue.is_actif %}
											<a href="{% url 'delete_UE' ue.id %}" type="button" class="btn btn-danger">Supprimer</a>
											{% else %}
											<a href="{% url 'get_UE' ue.id %}" type="button" class="btn btn-warning">Récupérer</a>
											{%endif%}
                                    		
                                    	</th>
                                    	<td>{{ue.niveau}} </td>
                                    	<td>{{ue.departement}} </td>
                                    	<th>{{ec.intitule}} </th>
                                    	<td>{{ec.coef}} </td>
                                    	<td>
                                    		<a href="{% url 'modifier_EC' ec.id %}" type="button" class="btn btn-primary">Modifier</a> - 
                                    		{% if ec.is_actif %}
												<a href="{% url 'delete_EC' ec.id %}" type="button" class="btn btn-danger">Supprimer</a>
											{% else %}
												<a href="{% url 'get_EC' ec.id %}" type="button" class="btn btn-warning">Récupérer</a>
											{%endif%}
                                    		
                                    	</td>
                                    	{% if ec.is_affecte == True %}
                                    	<td style="background-color: green;" align="center">Oui</td>
                                    	{% else %}
                                    	<td align="center">Non</td>
                                    	{% endif %}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
							{% endif %}
						{% elif user.titre == 'Directeur' %}
							{% if ue.departement.ufr == user.departement.ufr %}

								{% for ec in liste_matiere %}
                                    {% if ec.uniteEnseign == ue %}
                                    <tr>
                                    	<th>
                                    		{{ue.code}} - <a href="{% url 'voir_plus_UE' ue.id %} "  type="button" class="btn btn-primary">voir +</a> - 
                                    		{% if ue.is_actif %}
											<a href="{% url 'delete_UE' ue.id %}" type="button" class="btn btn-danger">Supprimer</a>
											{% else %}
											<a href="{% url 'get_UE' ue.id %}" type="button" class="btn btn-warning">Récupérer</a>
											{%endif%}
                                    		
                                    	</th>
                                    	<td>{{ue.niveau}} </td>
                                    	<td>{{ue.departement}} </td>
                                    	<th>{{ec.intitule}} </th>
                                    	<td>{{ec.coef}} </td>
                                    	<td>
                                    		<a href="{% url 'modifier_EC' ec.id %}" type="button" class="btn btn-primary">Modifier</a> - 
                                    		{% if ec.is_actif %}
												<a href="{% url 'delete_EC' ec.id %}" type="button" class="btn btn-danger">Supprimer</a>
											{% else %}
												<a href="{% url 'get_EC' ec.id %}" type="button" class="btn btn-warning">Récupérer</a>
											{%endif%}
                                    		
                                    	</td>
                                    	{% if ec.is_affecte == True %}
                                    	<td style="background-color: green;" align="center">Oui</td>
                                    	{% else %}
                                    	<td align="center">Non</td>
                                    	{% endif %}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
							{% endif %}
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
				</div>
			</div>
		</b>
	</div>
</div>

{% endblock %}