{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}


{% block title %}Recherche d'informations{% endblock %}


{% block sectionTitle %} <h1 align="center"></h1>{% endblock %}


{% block sectionContent %}

<div class="container" > <!-- {% if True %} selected="selected" {%endif%} -->
	
		<form align="center">
		
			<label><h1>Veuillez effectuer votre choix de recherche</h1></label><br>
			<select id="profileType" class="form-control col-sm-offset-3 col-sm-4 col-lg-offset-4 col-lg-4">
				<option value="nothing" >-----------</option>
				<option value="etudiant" {% if rech_specifique1.is_bound %} selected="selected" {%endif%} >Etudiant</option>
				<option value="enseignant" {% if rech_specifique2.is_bound %} selected="selected" {%endif%} >Enseignant</option>
				<option value="etudiant_tout"  >Tous les étudiants</option>
				<option value="enseignant_tout"  >Tous les enseignants</option>
				<option value="etudiant_dep" {% if rech_speci_departement1.is_bound %} selected="selected" {%endif%} >Etudiant(s)/Département</option>
				<option value="etudiant_ufr" {% if rech_speci_ufr.is_bound %} selected="selected" {%endif%} >Etudiant(s)/UFR</option>
				<option value="enseignant_dep" {% if rech_speci_departement2.is_bound %} selected="selected" {%endif%} >Enseignant(s)/Departement</option>
			</select>
		</form>
		<br><br>
		<div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8" align="center">

			<form  action="" method="POST" id="etd_matricule">
				{% csrf_token %}
				{% crispy rech_specifique1 %}
				
				<input type="hidden" value="etudiant" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_matricule" id="Etd_matricule" class="btn btn-success" />
				</div>
			</form>

			<form  action="" method="POST" id="ens_matricule">
				{% csrf_token %}
				{% crispy rech_specifique2 %}
				
				<input type="hidden" value="enseignant" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Ens_matricule" id="Ens_matricule" class="btn btn-success" />
				</div>
			</form>

			<form  action="" method="POST" id="ens_tout">
				{% csrf_token %}
				
				
				<input type="hidden" value="enseignant_tout" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Ens_tout" id="Ens_tout" class="btn btn-success" />
				</div>
			</form>
			<form  action="" method="POST" id="ens_dep">
				{% csrf_token %}
				
				{% crispy rech_speci_departement2 %}
				<input type="hidden" value="enseignant_dep" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Ens_dep" id="Ens_dep" class="btn btn-success" />
				</div>
			</form>


			<form  action="" method="POST" id="etd_tout">
				{% csrf_token %}
				
				
				<input type="hidden" value="etudiant_tout" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_tout" id="Etd_tout" class="btn btn-success" />
				</div>
			</form>


			<form  action="" method="POST" id="etd_dep">
				{% csrf_token %}
				
				{% crispy rech_speci_departement1 %}

				<input type="hidden" value="etudiant_dep" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_dep" id="Etd_dep" class="btn btn-success" />
				</div>
			</form>


			<form  action="" method="POST" id="etd_ufr">
				{% csrf_token %}
				
				{% crispy rech_speci_ufr %}
				<input type="hidden" value="etudiant_ufr" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_ufr" id="Etd_ufr" class="btn btn-success" />
				</div>
			</form> 
		</div>

		<br><br><br>
		<!-- Tableau pour afficher le resultat de la recherche -->
		{% if affiche %}
	<div class="col-lg-12 col-sm-12" id="tableau">
		<table align="center"class="table table-bordered table-striped table-condensed" >
			<caption>{{titre}} {{ufr}} {{departement}}</caption>
			<tr>
				<th>N°</th>
				<th>N° Matricule</th>
				<th>Prénom(s)</th>
				<th>Nom</th>
				<th>Département</th>
				{% if Enseignan %}
				<th>Grade</th>
				
				{% else%}
				<th>Email</th>
				<th>Niveau</th>
				<th>Statut</th>
				{% endif %}
				<th>Action</th>
			</tr>

			{% for item in liste  %}
			
			<tr>
				<td></td>
				<td>{{item.matricule}} </td>
				<td>{{ item.prenom }} </td>
				<td>{{item.nom }} </td>
				<td>{{ item.departement}} </td>
				{% if Enseignan %}
				<td>{{ item.grade }} </td>
				
				{% else %}
				<td>{{ item.email }} </td>
				<td>{{ item.niveau }} </td>
				<td>{{ item.statut }} </td>
				{% endif %}
				{% if Enseignan %}
				<td>
					<a href="{% url 'page_enseignant' item.id %}" >Matière(s) enseignée(s)</a>
				</td>
				{% else %}
				<td>
					<a href="#" >Cursus Universitaire</a>
				</td>
				{% endif %}
			</tr>
			
			{% endfor %}
		</table>
	</div>
	{%endif%}
</div>





{% endblock  %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/consult.js' %}"> </script>
{% endblock %}