{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock  %}



{% block title %}Créer jury{% endblock %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paramétrage / Jury de délibération</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- <h1 align="center">Création de jury de délibération</h1>-->
{% endblock %}

{% block sectionContent %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" align="center"> Nouveau jury</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="container">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        
                    </div>
                    <div class="col-xs-4 text-right">
                        
                    </div>
                </div>
            </div>
            <div class="panel-body">
			<!--	<div class="Cjury"> -->
					<div class="row">
						<p class="message" align="center">
							{{message}}
						</p>
					</div>
					<div class="row">
						<form action="" method="POST">
							{% csrf_token %}
							<fieldset>
								<legend style="text-align: center"><b>Jury</b></legend>
							
								<div class=" col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-sm-8 col-md-8 col-xs-8">
									<div class="row" id="partie_Jury">
										<div class="row">
											<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
												<p>{{ creation_jury.anneeUniv|as_crispy_field }}</p>
											</div>
											<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
												<p>{{ creation_jury.niveau|as_crispy_field }}</p>
											</div>
											<div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
												<p>{{ creation_jury.nbre_membre|as_crispy_field }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-lg-6 col-sm-6 col-xs-6">
												<p>{{ creation_jury.departement|as_crispy_field }}</p>
											</div>
											<div class="col-sm-6 col-lg-6 col-sm-6 col-xs-6">
												<p>{{ creation_jury.intitule|as_crispy_field }}</p>
											</div>
										</div>
									</div>
									<div class="row" id="nbMembre">
										<p align="center" style="color: red" class=" pseudo"> Le nombre de membres doit être compris entre 5 (obligatoire) et 11</p>
									</div>
							<!--		<div class="row pull-right">
										<button type="button" class="btn btn-primary">Effectuer</button>
									</div> -->
								</div>
							</fieldset>
							<br>
						<!--	<div class="Lmembres"> -->
								
							<fieldset>
								<legend style="text-align: center;"><b>Membres du Jury</b></legend>
							
								<div class=" col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-sm-10 col-md-10 col-xs-10" id="ajouterMembre">
									<div class="row"><!-- col-lg-4 col-sm-4 col-md-4 col-xs-4 -->
										<fieldset>
											<legend ><b>1er Membre</b></legend>
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- premier membre du jury -->
													<p>{{ formation_membre.ens1|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du premier -->
													<p>{{ formation_membre.fonction1|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>2ème Membre</b></legend>
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- deuxiemme membre du jury -->
													<p>{{ formation_membre.ens2|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du deuxiemme -->
													<p>{{ formation_membre.fonction2|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>3ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens3|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction3|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>4ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens4|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction4|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>5ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens5|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction5|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>6 ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens6|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction6|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>7ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens7|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction7|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>8ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens8|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction8|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>9ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens9|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction9|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>10ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens10|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction10|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>
									<div class="row">
										<fieldset>
											<legend ><b>11ème Membre</b></legend> <!-- <div class='col-lg-8 col-sm-8 col-md-8 col-xs-8'>  -->
										
											<div class="row">
												<div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
													<!-- troisieme membre du jury -->
													<p>{{ formation_membre.ens11|as_crispy_field }}</p>
												</div>
												<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
													<!-- fonction du troisieme -->
													<p>{{ formation_membre.fonction11|as_crispy_field }}</p>
												</div>
											</div>
										</fieldset>
									</div>

								</div>
							</fieldset>
						<!--	</div> -->
							<br>
							<div class="row">
								<div align="center">
				        			<button class=" btn btn-success " type="submit">Enregistrer</button>
				        		</div>
							</div>
						</form>
					</div>
			<!--	</div> -->
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<!-- <script type="text/javascript" src="{% static 'js/creationJury.js' %}"></script> -->
{% endblock %}