{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<meta charset="utf-8">

	</style>
	</head>
	<body>
		<header>
    		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<!-- <a href="http://localhost:8000/login"> <img src="../static/img/logo1.png" alt="logo_uo" title="Logo de UO1 Pr JKZ" id="logo" class="navbar-brand" /> </a> -->
        		<div class="collapse navbar-collapse">
            		<h1>SIDINFOR : Système Intégré du Département d'Informatique</h1>
        		</div>
    		</nav>
		</header>
		<h3>SIDINFOR :: Informations</h3>
		{% if type_mail == 'Affectation' %}
			<div>
				<p>
					{{detail}}. 
					Cordialement.
					Statut : {{statut}}

				</p>
			</div>
		{% elif type_mail == 'Jury' %}

			<div><p>
				{{detail}}.
				 Cordialement.
				Statut : {{statut}}
			</p></div>
		{% endif %}
	</body>
</html>




