{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<meta charset="utf-8">

	</style>
	</head>
	<body>
		<header>
    		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<!-- <a href="http://localhost:8000/login"> <img src="../static/img/logo1.png" alt="logo_uo" title="Logo de UO1 Pr JKZ" id="logo" class="navbar-brand" /> </a> -->
        		<div class="collapse navbar-collapse">
            		<h1>SIDINFOR : Système Intégré du Département d'Informatique</h1>
        		</div>
    		</nav>
		</header>
		<h3>Enregistrement sur SIDINFOR</h3>
		{% if type_mail == 'Enregistrement' %}
			{% if regime == 'étudiant' %}
			<div>
				<p>
				Vous recevez ce mail suite à votre enregistrement sur la plateforme SIDINFOR en tant qu'étudiant.
        		Votre identité sera vérifiée avant la validation de votre enrégistrement.
        		Merci de Patienter. Cordialement.
			</p></div>
			{% elif regime == 'administration' %}
			<div>
				<p>
					Vous recevez ce mail suite à votre enregistrement sur la plateforme SIDINFOR en tant que corps administratif.
        			Votre identité sera vérifiée avant l' activation de votre compte.
        			Merci de Patienter. Cordialement.
				</p>
			</div>
			{% else %}
			<div>
				<p>
					Une nouvelle enregistrement vient d'être effectué sur la plateforme SIDINFOR.
					<dl class="container">
						<dt>Prénom et Nom:</dt> <dd> {{identite}} </dd>
						<dt>email: </dt> <dd> {{email}} </dd>
						<dt>Date d'enregistrement: </dt> <dd> {{date_inscription}} </dd>
						<dt>Régime: </dt> <dd> {{type}} </dd>
						<dt>Statut du mail envoyé: </dt> <dd> {{statut}} </dd>
					</dl>
				</p>
			</div>		
			{% endif %}
		{% elif type_mail == 'Confirmation' %}

			{% if regime == 'étudiant' %}
			<div><p>
				Vous recevez ce mail suite à la confirmation de votre enregistrement sur la plateforme sidinfor.
        		Cordialement.
			</p></div>
			{% elif regime == 'administration' %}
			<div><p>
				Vous recevez ce mail suite à la confirmation de votre enregistrement sur la plateforme sidinfor. Pour plus de detail, <a href="#">Cliquez ici</a>
        		Cordialement.
			</p></div>
			{% else %}
			<div><p>
				Confirmation d'activation du compte de:
				<dl class="container">
					<dt>Prénom et Nom:</dt> <dd> {{identite}} </dd>
					<dt>email: </dt> <dd> {{email}} </dd>
					<dt>Date d'enregistrement: </dt> <dd> {{date_inscription}} </dd>
					<dt>Régime: </dt> <dd> {{type}} </dd>
					<dt>Statut du mail envoyé: </dt> <dd> {{statut}} </dd>
				</dl>	
			</p></div>		
			{% endif %}
		{% endif %}
	</body>
</html>




