{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock  %}



{% block title %}Inscription Etudiant{% endblock %}


{% block sectionContent %}
<br><br><br><br><br>
<div class="container">
	<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
		<div class="form-saisie-note">
			<div class="titre-form-saisie">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p align="center"><b>Veuillez remplir le formulaire</b></p>
					</div>
				</div>
			</div>
			<div class="body-form-saisie">
				<div class="row">
					<form action="" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_saisie_note.departement|as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_saisie_note.niveau|as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{ form_saisie_note.matiere|as_crispy_field}}
							</div>
						</div>
						<div class="row">
							<div class="" align="center">
			        			<button class=" btn btn-success" type="submit">Effectuer</button>
			        		</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}