{% extends 'base1.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %} Enregistrement {% endblock %}

{% block autrecss %}
     <link rel="stylesheet" type="text/css" href=" {% static 'css/back_img.css' %}">
{% endblock  %}

{% block sectionContent %} 

<div class="container">
	<div id="page_enregistrement" style="font-size: 1.8em;">
		<div class="row" style="padding-top: 13%">
			<p align="center"> Bienvenue sur la plateforme <br><br> <b style="color: green">SIDINFOR</b></p>
		</div>
		<br>
		<div class="row" align="center">
			<p>Pour votre enregistrement, veuillez cliquer sur l'onglet </p><br>
			<p style="color: blue"><i class="fa fa-arrow-left fa-fw"></i> S'enregistrer</p>
		</div>
	</div>
</div>

{% endblock%}