<!DOCTYPE html>
<html>
<head>
	<title>Liste de la scolarité</title>
	
	<meta name="description" content="Les réléves de note des délibérations">
    <meta name="author" content="Inoussa Legrene">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body> <!-- onload="window.print();" -->
	<section>
		<!-- info row -->
	    <div class="row invoice-info">
	      <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
	        <address align="center">
			UNIVERSITE JOSEPH KI ZERBO<br>
			---------------<br>
			SERVICE DE LA SCOLARITE<br>
			---------------<br>
			03 BP. 7021 OUAGADOUGOU 03<br>
			Tél. :(+226) 25 30 70 64 / 65<br>
			Fax : (+226) 25 30 72 42 <br>
			</address> 
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
	      	<br><br><br>
	        <img src="http://localhost:8000/static/img/logo.jpg" alt="Logo de l'université" width="100%"><!--width="100%" height="100%" -->
	      </div>
	      <!-- /.col -->
	      <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
	        <address align="center">
	        BURKINA FASO <br>
			--------------- <br>
			Unité - Progrès - Justice
			</address>
	      </div>
	      <!-- /.col -->
	    </div>
	    <!-- /.row -->
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.5em;"><b>LISTE DES AGENTS DE LA SCOLARITÉ</b></p>
	   		</div>
	    </div>
	    <br>
	    <div class="row">
	    	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
	    		<p align="center" style="font-size: 1.3em;"><b>{{stitre}}</b></p>
	   		</div>
	    </div>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-xs-12 table-responsive">
		        <table class="table table-striped" border="2px">
		          <thead>
			          <tr>
			          	<th>N°</th>
						<th>N° Matricule</th>
						<th>Prénom(s)</th>
						<th>Nom</th>
						<th>Sexe</th>
						<th>Ufr</th>
						<th>Email</th>
						<th>Titre</th>
			          </tr>
		          </thead>
		          <tbody>
		          	{% for item in liste %}
			
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{item.matricule}} </td>
							<td>{{ item.prenom }} </td>
							<td>{{item.nom }} </td>
							<td>{{item.sexe}} </td>
							<td>{{ item.departement.ufr}} </td>
							<td>{{ item.compte.email }} </td>
							<td>{{item.titre}} </td>
						</tr>
						
					{% endfor %}
		          </tbody>
		        </table>
	      </div>
	    </div>
	</section>
</body>
</html>