{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Page de connexion">
        <meta name="author" content="Inoussa LEGRENE">

        <title>SIDINFIR - Page de connexion</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href=" {% static 'css/login.css' %}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    	<br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"  align="center">SIDINFOR - CONNEXION</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <p align="center" class="message"><b> {{info}}</b></p>
                            </div>
                            <form role="form" action="" method="POST">
                            	{% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.username|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password|as_crispy_field}}
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Se souvenir de moi
                                        </label>
                                    </div>
                                    <div class="row">
                                    	<div align="center" class="">
                                            <button class=" btn btn-primary button" type="reset">Annuler</button>
                                			<button class=" btn btn-success button" type="submit">Se connecter</button>
   	                                    </div>
                                    </div>
	                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" align="center" style="font-size: 1.2em; ">
                            <a href="{% url 'index' %}">S'enregistrer</a> - <a href="#">Mot de passe oublié</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'js/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/startmin.js' %}"></script>

    </body>
</html>
