<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h1 class="modal-title">Veuillez remplir le formulaire </h1>
</div>
<div class="modal-body">
	<form action="" method="POST">
		{% csrf_token %}
		
		<label>N° Matricule :</label>
		<input type="text" name="matricule" class="form-control" placeholder="Entrer le matricule">
		<input type="hidden" name="typeForm" value="etudiant">

		<div class="btn btn-group mb-5 mt-5">
			
			<input type="submit" value="Envoyer" name="envoieEtud" id="envoiForm1" class="btn btn-success" />
			<div class="offset-10"></div>
			<a class="btn btn-info close" data-dismiss="modal" > Annuler </a>
		</div>
	</form>
</div>