<div class="modal fade" id="modalDepEtd">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	    <div class="modal-header">
	        <h4 class="modal-title">Veuillez choisir le département</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>

	      <!-- Modal body -->
	    <div class="modal-body">
	        <form  action="" method="POST" id="etd_dep">
				{% csrf_token %}
				
				{% crispy rech_speci_departement1 %}

				<input type="hidden" value="etudiant_dep" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_dep" id="Etd_dep" class="btn btn-success" />
				</div>
			</form>
	    </div>

	      <!-- Modal footer -->
	    <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	    </div>

	    </div>
	</div>
</div>


<div class="modal fade" id="modalUFREtd">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	    <div class="modal-header">
	        <h4 class="modal-title">Veuillez choisir le département</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	    </div>

	      <!-- Modal body -->
	    <div class="modal-body">
	        <form  action="" method="POST" id="etd_ufr">
				{% csrf_token %}
				
				{% crispy rech_speci_ufr %}
				<input type="hidden" value="etudiant_ufr" name="profileType" />
				<div class="col-10">
					<input type="submit" value="Effectuer" name="Etd_ufr" id="Etd_ufr" class="btn btn-success" />
				</div>
			</form> 
	    </div>

	      <!-- Modal footer -->
	    <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	    </div>

	    </div>
	</div>
</div>