{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Modification de UE/EC</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="row">
	<h1 align="center">Saisie de la note des etudiants en : <b>{{departement}}</b> - Niveau : <b>{{niveau}}</b></h1>
</div> -->
{% endblock %}


{% block sectionContent %}

<div class="row">
	<div class=" col-lg-offset-4 col-lg-4" align="center">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-8">
	                    Veuillez apporter les modifications
	                </div>
	                <div class="col-xs-4 text-right">

	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<form action="" method="POST">
					{% csrf_token %}
					{% crispy form %}
					<div class="row" align="center">
						
					</div>
					<div class="row">
						{% if mat == True %}
						<a href="{% url 'add_UE' %}" type="button" class="btn btn-primary">Ajouter UE</a>
						{% elif mat == False %}
						 <a href="{% url 'add_EC' %}" type="button" class="btn btn-primary">Ajouter EC</a>
						{% endif %}
						<button class="btn btn-success" type="submit">Enregistrer</button> 
						<a href="{% url 'consulter_Matiere' %}" type="button" class="btn btn-danger">Annuler</a>
					</div>
				</form>
			</div>
		</b>
	</div>
</div>

{% endblock %}