{% extends "base2.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Connexion{% endblock %}

{% block autrecss %}
{{profil.media.css}} 
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">

{% endblock  %}


{% block sectionContent %}

<br><br><br>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" align="center">Modifier Profil </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
	<center class="container" >
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4">
				
				
				<form action="" method="POST">
		        	{% csrf_token %}
		        	{% crispy profil %}
		        	{% crispy create %}

		        	<div class="row">
		        		<div class="col-lg-12">
		        			<input type="submit" value="Envoyer" name="envoieEns" id="envoieEns" class="btn btn-success" />
		        		</div>
		        	</div>
		        </form>
		    </div>
		</div>
	</center>

{% endblock %}

{% block script %}
{{profil.media.js}} 
	<script type="text/javascript" src="{% static 'js/save.js' %}"></script>
{% endblock %}