{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block autrecss %}
{{etudianForm.media.css}}
{% endblock  %}



{% block title %}Sauvégarde de données{% endblock %}


{% block sectionTitle %} <h1 align="center">Inscription Etudiant-Enseignant-Scolarité</h1>{% endblock %}

{% block sectionContent %}

<div class="col-12" align="center">
	
	<form align="center">
		<div class="alert alert-info col-12">
			{{ info }} 
		</div>
		<label>Votre choix :</label>
		<select id="profileType">
			<option value="nothing" >-----------</option>
			<option value="etudiant" {% if etudiantForm.is_bound %} selected="selected" {%endif%} >Etudiant</option>
			<option value="enseignant" {% if enseignantForm.is_bound %} selected="selected" {%endif%} >Enseignant</option>
			<option value="matiere" {% if scolariteForm.is_bound %} selected="selected" {%endif%} >Agent de la Scolarité</option>
		</select>
	</form>


	<form enctype="multipart/form-data" action="" method="POST" id="enseigForm">
		{% csrf_token %}
		{% crispy enseignantForm %}
		{% crispy create_userForm1 %}
		<input type="hidden" value="enseignant" name="profileType" />
		<div class="col-10">
			
			<input type="submit" value="Envoyer" name="envoieEns" id="envoieEns" class="btn btn-success" />
			
			<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
		</div>
	</form>
	<form enctype="multipart/form-data" action="" method="POST" id="matForm">
		{% csrf_token %}

		{% crispy scolariteForm %}

		{% crispy create_userForm2 %}

		<input type="hidden" value="scolarite" name="profileType" />

		<div class="col-10">
			
			<input type="submit" value="Envoyer" name="envoieScol" id="envoieScol" class="btn btn-success" />
			
			<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
		</div>
	</form>

	<form enctype="multipart/form-data" action="" method="POST" id="etudForm">
		{% csrf_token %}
		{% crispy etudiantForm %}

		<input type="hidden" value="etudiant" name="profileType" />
		<div class="col-10">
			
			<input type="submit" value="Envoyer" name="envoieEtud" id="envoieEtud" class="btn btn-success" />
			
			<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
		</div>
	</form>


</div>
{% endblock %}

{% block script %}
	{{etudianForm.media.js}}
	<script type="text/javascript" src="{% static 'js/sauvegarde.js' %}"></script>
{% endblock %}

<!-- 
{% block autrejs %}
etudianForm.media.js
{% endblock  %}
<input type="hidden" name="profileType" value="matiere">
		<div class="col-10">
			<button type="submit" class="btn btn-sucess">Enregistrer</button>
			<button type="reset" class="btn btn-primary">Reinitialiser</button>
		</div>

-->