{% extends "base1.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Inscription Etudiant{% endblock %}

{% block autrecss %}
	{{etudiantForm.media.css}}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">
{% endblock  %}

{% block sectionTitle %} 
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Enrégistrement Etudiant</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--<h1 align="center">Inscription Etudiant</h1> -->

{% endblock %}
{% block sectionContent %}

<div class="alert alert-success col-12" align="center" style="color: black">
	{{ info }} (Les champs marqués d'une <span class="asteriskField">*</span> sont obligatoire) 
</div>

<form enctype="multipart/form-data" action="" method="POST" id="etudForm">
	{% csrf_token %}

	<div class="form-group">
		<div class="row">
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{etudiantForm.nom|as_crispy_field }}
			</div>
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{etudiantForm.prenom|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.date_naissance|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.lieu_naissance|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.sexe|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.statut|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.departement|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.niveau|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.anneeAca|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.matricule|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{etudiantForm.num_tel|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-xs-8 col-md-8 col-sm-8">
				{{etudiantForm.email|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
				{{etudiantForm.profil|as_crispy_field }}
			</div>
		</div>
	</div>

	<input type="hidden" value="etudiant" name="profileType" />
	<div class="col-10">
		
		<input type="submit" value="Envoyer" name="envoieEtud" id="envoieEtud" class="btn btn-success" />
		
		<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
	</div>
</form>

{% endblock %}

{% block script %}
	{{etudiantForm.media.js}}
	<script type="text/javascript" src="{% static 'js/save.js' %}"></script>
{% endblock %}