{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sauvegarde de EU/EC</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}


<div class="row">
	<div class=" col-lg-offset-4 col-lg-4" align="center">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-12">
	                    <h4 align="center">Veuillez remplir le formulaire</h4>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="row">
	        		<p align="center" style="color: red;">{{message}}</p>
	        	</div>
				<form action="" method="POST">
					{% csrf_token %}

					{% if mat == True %}
					<fieldset>
						<legend><b>Effectuer un filtre d'UE</b></legend>
						<div class="col-lg-offset-2 col-lg-8" align="center">
							
							<div class="row" align="center">
								
								
								Niveau 
								<select name="niveau" class="form-control select form-control" id = "niveau">
									<option value="" selected>--------</option>

									{% for niv in liste_niv %}

										<option value="{{niv.id}}">
											{{niv.abrege}}
										</option>
									{% endfor %}
								</select>
								
							</div>
							<div class="row" align="center">
								
								
								Département 
								<select name="departement" class="form-control select form-control" id = "departement">
									<option value="" selected>--------</option>
									{% for dep in liste_dep %}
										<option value="{{dep.id}}">
											{{dep.intitule}}
										</option>
									{% endfor %}
								</select>
								
							</div>
							
						</div>
					</fieldset>
					<br>
					{% endif %}
					<legend></legend>
					<div class="col-lg-offset-1 col-lg-10" align="center">
						{% crispy form %}
					</div>
					
					
					<div class="row">
						{% if mat == True %}
						<a href="{% url 'add_UE' %}" type="button" class="btn btn-primary">Ajouter UE</a>
						{% elif mat == False %}
						 <a href="{% url 'add_EC' %}" type="button" class="btn btn-primary">Ajouter EC</a>
						{% endif %}
						<button class="btn btn-success" type="submit">Enregistrer</button> 
						
						<a href="{% url 'consulter_Matiere' %}" type="button" class="btn btn-danger">Revenir</a>
					</div>
				</form>
			</div>
		</b>
	</div>
	<br>
	<br>
	<br>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/save_ue_ec.js' %}"></script>
{% endblock %}