{% extends "base1.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Inscription Enseignant{% endblock %}

{% block autrecss %}

	{{scolariteForm.media.css}}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">

{% endblock  %}

{% block sectionTitle %} 

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Enrégistrement Agent de la scolarité</h1>
    </div>
    <!-- /.col-lg-12 -->
</div> <!--
<h1 align="center">Inscription Agent de la scolarité</h1>-->
{% endblock %}
{% block sectionContent %}

<div class="alert alert-success col-12" align="center" style="color: black">
	{{ info }} (Les champs marqués d'une <span class="asteriskField">*</span> sont obligatoire) 
</div>

<form enctype="multipart/form-data" action="" method="POST" id="matForm">
	{% csrf_token %}

	<div class="form-group">
		<div class="row">
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{scolariteForm.nom|as_crispy_field }}
			</div>
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{scolariteForm.prenom|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{scolariteForm.date_naissance|as_crispy_field }}
			</div>
			<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
				{{scolariteForm.lieu_naissance|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.matricule|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.num_tel|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.titre|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.sexe|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.ufr|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{scolariteForm.profil|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm2.email|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm2.username|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm2.psswd|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm2.confirm_pass|as_crispy_field }}
			</div>
		</div>
	</div>

	<input type="hidden" value="scolarite" name="profileType" />

	<div class="col-10">
		
		<input type="submit" value="Envoyer" name="envoieScol" id="envoieScol" class="btn btn-success" />
		
		<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
	</div>
</form>

{% endblock %}

{% block script %}
	{{scolariteForm.media.js}}
	<script type="text/javascript" src="{% static 'js/save.js' %}"></script>
{% endblock %}