{% extends "base1.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Inscription Enseignant{% endblock %}

{% block autrecss %}

	{{enseignantForm.media.css}} 
	<link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %}">

{% endblock  %}

{% block sectionTitle %} 
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Enrégistrement Enseignant</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--
<h1 align="center">Inscription Enseignant</h1>-->
{% endblock %}
{% block sectionContent %}

<div class="alert alert-success col-12" align="center" style="color: black">
	{{ info }} (Les champs marqués d'une <span class="asteriskField">*</span> sont obligatoire) 
</div>

<form enctype="multipart/form-data" action="" method="POST" id="enseigForm">
	{% csrf_token %}

	<div class="form-group">
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.nom|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.prenom|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.matricule|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.titre|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.date_naissance|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.lieu_naissance|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.statut|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.num_tel|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.sexe|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.grade|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.departement|as_crispy_field }}
			</div>
			<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
				{{enseignantForm.profil|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm1.email|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm1.username|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm1.psswd|as_crispy_field }}
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				{{create_userForm1.confirm_pass|as_crispy_field }}
			</div>
		</div>
		
	</div>
	<input type="hidden" value="enseignant" name="profileType" />
	<div class="col-10">
		
		<input type="submit" value="Envoyer" name="envoieEns" id="envoieEns" class="btn btn-success" />
		
		<a class="btn btn-info" href="{% url 'index' %}"> Annuler </a>
	</div>
</form>

{% endblock %}

{% block script %}
	{{enseignantForm.media.js}} 
	<script type="text/javascript" src="{% static 'js/save.js' %}"></script>
{% endblock %}