{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{%  load  bootstrap4  %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="mon en-tête spécialisée">
        <meta name="author" content="Inoussa Legrene">

        <title>SIDINFOR - {% block title %} {% endblock %} </title>

    <!--    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->

        <!-- DataTables CSS -->
        <link href="{% static 'css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">


        <!-- Bootstrap Core CSS ../static/css/bootstrap.min.css -->
        <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Timeline CSS ../static/css/timeline.css -->
        <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

        <!-- Morris Charts CSS ../static/css/morris.css  -->
        <link href=" {% static 'css/morris.css' %}" rel="stylesheet">

        <!-- Custom CSS  ../static/css/startmin.css -->
        <link type="text/css" href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Footer CSS  -->
        <link href="{% static 'css/footer.css' %}" rel="stylesheet">

        <!-- Custom Fonts ../static/css/font-awesome.min.css  -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        {% block autrecss %}
     
        {% endblock  %}
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="font-size: 1.3em">
            	<div class="row">
                <div class="navbar-header">

                    <a href="" class="navbar-brand"><b><img src="{% static 'img/logo.jpg' %}" alt="Logo de l'université" width="45px" height="45px"> SIDINFOR</b></a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li ><a href="{% url 'tableau_bord' %}"><i style="color: white;" class="fa fa-home fa-2x"></i>Home</a></li>
                <!--    <li><a href="" id="anneeuniversitaire">Année Universitaire : {{annee_univ}} </a></li> -->
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                	
                    <li class="dropdown">
                    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw" style="color: white;">
                            </i><sup style="color: red">{{nbre_notif}}</sup>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            
                            {% for item in liste_notif %}

                            <li>
                                <a href="{{item.url}}"><i class="fa fa-info fa-fw"></i>{{item.information}}</a>
                            </li>
                            <li class="divider"></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         <!--   <i class="fa fa-user fa-fw"></i> --> <img src="{% if user.profil %} {{user.profil.url}} {% else %} {% static 'img/men.png' %} {% endif%} " alt="Photo de profil" width="35px" height="35px"> {{user.compte.username}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{% url 'page_enseignant_connecte' %}"><i class="fa fa-user fa-fw"></i> {{user.compte.username}} Profil</a>
                            </li>
                        <!--  	<li>
                            	<a href="#" ><i class="fa fa-gear fa-fw"></i> Settings<b class="caret"></b></a>
                            	
                            </li>  class="nav-link smenu"  -->

                         <!--     <li class="panel panel-info nav-item btn btn-outline-info">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#lmenu1" class="nav-link accordion-toggle"><i class="fa fa-gear fa-fw"></i>Settings<b class="caret"></b></a>
									</h4>
								</div>
								<ul id="lmenu1" data-parent="#menu" class="list-group collapse in">
									<li class="list-group-item">
										<a href="{% url 'save_etudiant' %}" >Etudiant</a>
									</li>
									<li class="list-group-item">
										<a href="{% url 'save_enseignant' %}" >Enseignant</a>
									</li>
									<li class="list-group-item">
										<a href="{% url 'save_scolarite' %}" >Agent de la scolarité</a>
									</li>
								</ul>
							</li> -->
                            <li class="divider"></li>
                            <li><a href="{% url 'logout_user' %} "><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                        <!--    <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                             
                            </li> -->
                             <!-- /input-group -->
                            <li>
                                <a href="{% url 'tableau_bord' %}" class="active"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                            </li>
                        <!--    <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i> S'enregistrer<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'save_etudiant' %}">Etudiant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_enseignant' %}">Enseignant</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'save_scolarite' %}">Agent de la scolarité</a>
                                    </li>
                                </ul>
                                
                            </li> -->   <!-- /.nav-second-level -->

                            {% if user.type_user == 'Enseignant' %}
                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i> Note<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'choix_saisie_note' %} ">Saisir note</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'choix_consulter_note' %} ">consulter note</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% endif %}

                            <li>
                                <a href="#"><i class="fa fa-list-ol fa-fw"></i> Consultation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                {% if user.titre == 'Chef de département' or user.titre == 'Directeur' %}
                                    <li>
                                        <a href="{% url 'consulter_Matiere' %}">Matière</a>
                                    </li>
                                {% endif %}
                                    <li>
                                        <a href="{% url 'consult_enseignant' %}">
                                            Enseignant
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_scolarite' %}">    
                                            Agent de la scolarité
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'consult_etudiant' %}">
                                            Étudiant
                                        </a>
                                    </li>

                            {% if user.type_user == 'Enseignant' %}
                                {% if liste_jury %}

                                <li>
                                    <a href="#"> Jury<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                    {% for item in liste_jury %}
                                        <li>
                                            <a href="{% url 'consulter_Jury' item.jury.id %} ">
                                                {{item.jury.niveau}} {{item.jury.departement}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>

                                {% endif %}
                            
                            {% endif %}
                                    
                                </ul>
                                <!-- /.nav-second-level -->
                                
                            </li>
                            {% if liste_jury or user.titre == 'Chef de la scolarité' %}
                            <li>
                                <a href="#"><i class="fa fa-book fa-fw"></i> Déliberation<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    {% if user.type_user == 'Enseignant' %}
                                        {% if liste_jury %}
                                        <li>

                                            <a href="#">    Déliberer<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                            {% for item in liste_jury %}
                                                {% if item.fonction == 'Président' %}
                                                
                                                        <li>
                                                            <a href="{% url 'deliberer' item.jury.id %}">
                                                                {{item.jury.niveau}} {{item.jury.departement}}
                                                            </a>
                                                        </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </li>
                                        {%endif%}
                                    {% elif user.type_user == 'Scolarite' %}
                                            <li>
                                                <a href="{% url 'imprimer_Releve' %} ">Imprimer rélevés</a>
                                            </li>
                                    {% endif %}
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% endif %}
                         <!-- /.nav-second-level -->
                            {% if user.titre != 'Enseignant' %}
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Paramétrage<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    {% if user.type_user == 'Enseignant' and  user.titre == 'Chef de département' or user.titre == 'Directeur' %}
                                    
                                <!--    <li>
                                        <a href="{% url 'annee_Univ' %}">Année Universitaire</a>
                                    </li> -->
                                    <li>
                                        <a href="#">Gestion des matière<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level"> 
                                            <li>
                                                <a href="{% url 'affectation' %} ">Affecter une matière</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Matiere_dispense' %} ">Retirer une matière</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Jury de délibération<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level"> 
                                            <li>
                                                <a href="{% url 'creation_jury' %}">Créer un jury</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'liste_Jury' %} ">Modifier un jury</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="#">Valider enregistrement<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                             {% if user.titre == 'Chef de département' %}
                                             <li>
                                                 <a href="{% url 'validation_enregistrement' %}">Enseignant</a>
                                             </li>
                                             {% elif user.titre == 'Directeur' %}
                                             <li>
                                                 <a href="{% url 'validation_enregistrement' %}">Enseignant/Scolarité</a>
                                             </li>
                                             {% elif user.titre == 'Agent' or user.titre == 'Chef de la scolarité' %}
                                             <li>
                                                 <a href="{% url 'validation_enregistrement' %}">Etudiant</a>
                                             </li>
                                             {% endif %}
                                        </ul>
                                    </li>

                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper" > <!-- style="font-size: 1.2em" -->
                <div class="container-fluid">
                	<br><br>
                    {% block sectionTitle %} {% endblock %}
                    <br>
                	{% block recherche %} {%endblock%}
                	<br>
                    
                    {% block sectionContent %} {% endblock%}
                    <br><br><br><br><br>
                    
                <footer class="sticky-footer">
                    <div class="copyright text-center my-auto" align="center">
                        <span>Copyright © SIDINFOR 2019</span>
                    </div>
                </footer>
                <!-- /.container-fluid -->
                </div>


                
            <!--   -->
            </div>
            <!-- /#page-wrapper -->

            
        </div>
        <!-- /#wrapper -->

        <!-- jQuery ../static/js/jquery.min.js  
        <script src="{% static 'js/jquery.min.js' %}"></script> -->

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript ../static/js/bootstrap.min.js  -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- DataTables JavaScript -->
        <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>


        <!-- Custom Theme JavaScript ../static/js/startmin.js -->
        <script src="{% static 'js/startmin.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript  ../static/js/metisMenu.min.js -->
        <script src="{% static 'js/metisMenu.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

        {% block script %}
    
        {% endblock %}

    </body>
</html>
