{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Paramétrage/ vérification de données enregistrées </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %}


{% block sectionContent %}

{% if user.type_user == 'Scolarite' %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">Liste des étudiants </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-9">
	                	<form action="" method="POST">
	                		{% csrf_token %}
	                		<div class="row">

								<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{form.niveau|as_crispy_field }}
								</div>
		                		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{form.departement|as_crispy_field }}
								</div>
									<button type="submit" class="btn btn-success"><i class="fa fa-search fa-fw"></i></button>
		                		
	                		</div>
	                	</form>
	                </div>
	                <div class="col-xs-3 text-right">
	                    <div class="row">

                    			<a href="{% url 'save_etudiant' %}"  type="button" class="btn btn-primary">+Etudiant</a> <a href="{% url 'consult_etudiant' %}"  type="button" class="btn btn-primary">Etudiant actif</a>

	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° matricule</th>
							<th>Prénom(s)</th>
							<th>Nom</th>
							<th>Département</th>
							<th>Sexe</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Numero de Tel</th>
							<th>Email</th>

							<th>Niveau</th>
							<th>Année académique</th>
							<th>Statut</th>
							<th>Action</th>

						</tr>
					</thead>
					<tbody>
						{% for etd in liste_etudiant %}

							<tr>
								<td>{{forloop.counter}} </td>
								<th>{{etd.matricule}} </th>
								<td>{{etd.prenom}} </td>
								<td>{{etd.nom }} </td>
								<th>{{etd.departement}} </th>
								<td>{{etd.sexe}} </td>
								<td>{{etd.date_naissance}} </td>
								<td>{{etd.lieu_naissance}} </td>
								<td>{{etd.num_tel}}</td>
								<td>{{etd.email}} </td>

								<th>{{etd.niveau}} </th>
								<td>{{etd.anneeAca}} </td>
								<td>{{etd.statut}} </td>

								<td>
									{% if etd.is_actif == False %}
										<a href="{% url 'confirmation_etudiant' etd.id %} " type="button" class="btn btn-warning">Confirmer</a>
									{% elif etd.is_actif == True %}
										<a href="{% url 'del_etd' etd.id %}" type="button" class="btn btn-warning">Retirer</a>
									{% endif %}
								</td>
							</tr>

						{% endfor %}
						<!-- si c'est pour une liste d'agent de la scolarité -->
					
					</tbody>
				</table>
				</div>
			</div>
		</b>
	</div>
</div>
{% endif %}
<!-- Zone de fin de la liste des étudiants inscrits -->

{% if user.titre == 'Directeur' %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">Liste de la scolarité</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-8">
	                </div>
	                <div class="col-xs-4 text-right">
	                    <div class="row">

                    			<a href="{% url 'consult_scolarite' %}"  type="button" class="btn btn-primary">Agent actif</a>

	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° matricule</th>
							<th>Prénom(s)</th>
							<th>Nom</th>
							<th>Département</th>
							<th>Sexe</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Numero de Tel</th>
							<th>Email</th>


							<th>Titre</th>

							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for sco in liste_scolarite %}

							<tr>
								<td>{{forloop.counter}} </td>
								<th>{{sco.matricule}} </th>
								<td>{{sco.prenom}} </td>
								<td>{{sco.nom }} </td>
								<td>{{sco.departement}} </td>
								<td>{{sco.sexe}} </td>
								<td>{{sco.date_naissance}} </td>
								<td>{{sco.lieu_naissance}} </td>
								<td>{{sco.num_tel}}</td>
								<td>{{sco..compte.email}} </td>

								<td>{{sco.titre}} </td>

								<td>
									{% if sco.compte.is_active == False %}
										<a href="{% url 'activation_compte_ens_sco' sco.compte.username %}" type="button" class="btn btn-warning">Confirmer</a>
									{% elif sco.compte.is_active == True %}
										<a href="{% url 'del_compte_ens_sco' sco.compte.username %}" type="button" class="btn btn-warning">Retirer</a>
									{% endif %}
								</td>
							</tr>

						{% endfor %}
						<!-- / fin si c'est pour une liste d'agent de la scolarité -->
						
					</tbody>
				</table>
				</div>
			</div>
		</b>
	</div>
</div>
{% endif %}
<!-- Zone de fin de la liste des étudiants inscrits -->

{% if user.titre == 'Directeur' or user.titre == 'Chef de département' %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" align="center">Liste des enseignants </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-7">
	                	{% if user.type_user == 'Enseignant' and user.titre == 'Directeur' %}
	                	<form action="" method="POST">
	                		{% csrf_token %}
	                		<div class="row">
		                		
		                		<div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
									{{form.departement|as_crispy_field }}
								</div>
								<button type="submit" class="btn btn-success"><i class="fa fa-search fa-fw"></i></button>
		                		
		                		
	                		</div>
	                	</form>
	                	{% elif user.type_user == 'Enseignant' and user.titre == 'Chef de département' %}
	                	<p>Liste des enseignants du département {{user.departement}} non actif</p>
	                	{% endif %}
	                </div>
	                <div class="col-xs-5 text-right">
	                    <div class="row">
	                    		<!-- {% url 'consult_enseignant' %} save_etudiant -->
                    			<a href="{% url 'consult_enseignant' %}"  type="button" class="btn btn-primary">Enseignant actif</a>

	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
	        	<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>N° matricule</th>
							<th>Prénom(s)</th>
							<th>Nom</th>
							<th>Département</th>
							<th>Sexe</th>
							<th>Date de naissance</th>
							<th>Lieu de naissance</th>
							<th>Numero de Tel</th>
							<th>Email</th>


							<th>Grade</th>
							<th>Titre</th>
							<th>Statut</th>

							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for ens in liste_enseignant %}

							<tr>
								<td>{{forloop.counter}} </td>
								<th>{{ens.matricule}} </th>
								<td>{{ens.prenom}} </td>
								<td>{{ens.nom }} </td>
								<td>{{ens.departement}} </td>
								<td>{{ens.sexe}} </td>
								<td>{{ens.date_naissance}} </td>
								<td>{{ens.lieu_naissance}} </td>
								<td>{{ens.num_tel}}</td>
								<td>{{ens.compte.email}} </td>

								<td>{{ens.grade}} </td>
								<td>{{ens.titre}}</td>
								<td>{{ens.statut}}</td>

								<td>
									{% if ens.compte.is_active == False %}
										<a href="{% url 'activation_compte_ens_sco' ens.compte.username %}" type="button" class="btn btn-warning">Confirmer</a>
									{% elif ens.compte.is_active == True %}
										<a href="{% url 'del_compte_ens_sco' ens.compte.username %}" type="button" class="btn btn-warning">Retirer</a>
									{% endif %}
								</td>
							</tr>

						{% endfor %}
						<!-- / fin si c'est pour une liste d'enseignant -->
					</tbody>
				</table>
				</div>
			</div>
		</b>
	</div>
</div>
{% endif %}
<!-- Zone de fin de la liste des enseignants inscrits -->
{% endblock %}