{% extends "tableau_bord.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block title %}Saisie de note{% endblock %}

{% block sectionTitle %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Consultation / Consulter unité d'enseignement </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


{% block sectionContent %}


<div class="row">
	<div class=" col-lg-offset-4 col-lg-4" align="center">
		<div class="panel panel-primary">
	        <div class="panel-heading">
	            <div class="row">
	                <div class="col-xs-6">
	                    
	                </div>
	                <div class="col-xs-6 text-right">

	                </div>
	            </div>
	        </div>
	        <div class="panel-body">
				<table class="table table-striped table-bordered table-hover">
						<tr>
							<th>
								Code UE
							</th>
							<td>
								{{ue.code}}
							</td>
						</tr>	
						<tr>
							<th>Intitulé</th>
							<td>
								{{ue.intitule}}
							</td>
						</tr>
						<tr>
							<th>Niveau</th>
							<td>
								{{ue.niveau}}
							</td>
						</tr>
						<tr>
							<th>Département</th>
							<td>
								{{ue.departement}}
							</td>
						</tr>
						<tr>
							<th>Volume Horaire</th>
							<td>
								{{ue.volHoraire}}
							</td>
						</tr>
				</table>
				<div class="row">
					<a href="{% url 'consulter_Matiere' %}" type="button" class="btn btn-primary">Revenir</a> - 
					{% if ue.is_actif %}
					<a href="{% url 'delete_UE' ue.id %}" type="button" class="btn btn-danger">Supprimer</a>
					{% else %}
					<a href="{% url 'get_UE' ue.id %}" type="button" class="btn btn-warning">Récupérer</a>
					{%endif%}
					 - <a href="{% url 'modif_UE' ue.id %}" type="button" class="btn btn-info">Modifier</a>
				</div>
			</div>
		</b>
	</div>
</div>

{% endblock %}