.les_consult{
	display: inline-block;
}
.item1{
	color: black;
}

#contenu{
	background: white;
}

a:hover{
	color:red;
	background-color: white;
}

.panel:hover{
	background: white;
}

#contenu{
	background-color: white;
}

a:hover{
	color:black;
	background-color: white;
}
#headerTitle{
	color: white;
}
.search{
	display: inline-block;
}
.smenu:hover{
	color: red;
}

#anUniv{
	margin-right: 10px;
}

#headerfixe{
	position: fixed;

}